<!DOCTYPE html>
<html lang="en">
    <head>
            <% include ./include/header %>
            <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="/css/admin.css">
    </head>
<body>
   <header>
       
       <h1>Admin Section</h1>
       <div>
            <li><a href="#">Users</a></li>
            <li><a href="#">Events</a></li>
            <li><a href="#">Logout</a></li>
       </div>
   </header>
   <section id="Users">
       <div class="heading"><h1>Users</h1></div>
       
        <div class="blocks">
               <a href="/admin/admin_panel/ca">
                    <div class="block">
                            <h3>Campus Ambassador</h3>
                    </div>
               </a>   
        </div>
      
   </section>
</body>
   
</html>