<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./include/header %>
    <link rel="stylesheet" href="/css/ca.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <section id="banner">
        <div id="banner_content">
          <h3>Why to be a</h3>
          <h1>Campus Ambassador</h1>
          <p>
            Enhance your skills in the fields of leadership, communication and
            marketing. Gain chances for networking and maintaining public
            relations at the national level. Make the most of a first-class
            opportunity to be a part of the network of thousands of students
            across the country, and to collaborate with them.Provide the break
            that the cultural/ technical/ managerial/ Design clubs from your
            college require, giving them a chance to prove their mettle among
            150+ colleges.
          </p>
        </div>
        <div id="svg">
          <svg
            width="641"
            height="366"
            viewBox="0 0 641 366"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0)">
              <path
                opacity="0.1"
                d="M385.339 263.798C397.722 263.091 413.086 254.683 425.032 250.965C439.171 246.575 453.365 242.351 467.616 238.294C517.226 224.163 567.369 212.122 618.044 202.172C622.773 201.241 627.509 200.332 632.253 199.446C624.864 183.461 613.414 169.696 599.049 159.526C599.417 156.027 599.604 152.511 599.609 148.992C599.609 93.3846 555.216 48.3049 500.434 48.3049C483.568 48.287 466.985 52.6447 452.303 60.9533C413.529 35.421 362.921 19.9681 307.551 19.9681C228.872 19.9681 159.802 51.1711 120.664 98.1579L304.604 129.266L417.417 148.336C288.808 152.178 159.801 155.998 31.5623 146.979C14.6341 163.376 3.9197 185.149 1.25026 208.577C-1.41918 232.005 4.12202 255.634 16.9269 275.426C16.9269 277.439 17.0109 279.436 17.1622 281.416C20.4288 282.353 23.5834 283.261 26.413 283.856C71.8396 293.462 117.558 301.502 163.567 307.975C129.662 328.902 88.3726 331.863 49.2626 340.726C68.2013 356.375 93.9197 365.966 122.26 365.966H544.245C589.938 365.966 626.975 334.124 626.975 294.838C633.832 283.519 638.401 270.962 640.423 257.88C555.871 266.053 470.266 258.957 385.339 263.798Z"
                fill="#6C63FF"
              />
              <path
                opacity="0.1"
                d="M641 241.149C641.045 224.958 637.2 208.993 629.789 194.602C622.378 180.211 611.617 167.815 598.416 158.461C598.781 154.963 598.968 151.449 598.977 147.932C598.977 92.3245 554.56 47.2616 499.801 47.2616C482.934 47.2436 466.35 51.5993 451.664 59.9044C412.89 34.3609 362.277 18.9024 306.907 18.9024C216.842 18.9024 139.317 59.8202 104.936 118.496C103.025 118.384 101.103 118.322 99.1646 118.322C44.3995 118.322 -0.0110368 163.402 -0.0110368 219.01C-0.0494226 238.652 5.61959 257.881 16.3053 274.354C16.3053 324.387 63.4782 364.946 121.644 364.946H543.64C589.328 364.946 626.365 333.097 626.365 293.812C635.974 277.933 641.037 259.714 641 241.149Z"
                fill="#6C63FF"
              />
              <path
                d="M523.491 179.461C522.69 178.845 521.751 178.433 520.756 178.26C519.709 178.019 518.638 177.868 517.574 177.699L503.779 175.708C502.386 175.449 500.966 175.374 499.554 175.484C498.846 175.542 498.156 175.741 497.525 176.068C496.894 176.395 496.334 176.845 495.878 177.391C495.467 177.899 495.242 178.532 495.24 179.186C495.316 179.844 495.53 180.478 495.867 181.048C496.001 181.314 496.115 181.59 496.209 181.873C496.341 182.507 496.506 183.134 496.702 183.752C496.763 183.885 496.842 184.01 496.937 184.122C496.94 184.154 496.94 184.185 496.937 184.217C496.786 184.991 497.274 185.799 497.055 186.545C496.865 187.184 496.243 187.571 495.85 188.104C495.589 188.482 495.444 188.929 495.434 189.389C495.424 189.848 495.549 190.301 495.794 190.69C496.215 191.341 496.977 191.784 497.195 192.53C497.481 193.511 496.708 194.459 496.019 195.216C494.751 196.61 493.579 198.089 492.511 199.642C492.211 200.024 492.017 200.479 491.951 200.96C491.889 201.936 492.825 202.794 492.662 203.765C492.533 204.527 491.788 204.993 491.144 205.447C488.762 207.018 486.852 209.542 486.661 212.397C486.05 207.854 484.17 203.577 481.237 200.057C480.436 199.092 479.557 198.122 479.226 196.899C479.103 196.411 479.08 195.89 478.912 195.418C478.352 193.932 476.57 193.293 475.791 191.924C475.231 190.959 475.231 189.72 474.536 188.873C473.841 188.026 472.749 187.835 472.149 187.016C471.85 186.461 471.595 185.884 471.387 185.288C471.136 184.803 470.782 184.378 470.351 184.043C470.268 183.977 470.182 183.915 470.093 183.858C470.186 183.775 470.26 183.673 470.312 183.559C470.363 183.445 470.389 183.321 470.39 183.196C470.39 182.54 469.74 182.108 469.174 181.783C468.445 181.368 467.734 180.919 467.039 180.453C467.797 180.1 468.454 179.562 468.95 178.889C469.572 177.884 469.829 176.695 469.678 175.523C469.64 174.577 469.287 173.671 468.675 172.949C468.322 172.573 467.88 172.304 467.51 171.95C466.552 171.014 466.227 169.628 465.829 168.349C465.302 166.667 464.478 164.9 462.943 164.008C462.204 163.576 461.341 163.374 460.618 162.92C459.895 162.465 459.29 161.607 459.542 160.783C459.71 160.222 460.231 159.835 460.584 159.358C461.006 158.741 461.167 157.984 461.034 157.248C460.901 156.513 460.484 155.861 459.873 155.432C459.458 155.168 458.948 154.938 458.864 154.456C458.54 154.371 458.246 154.197 458.016 153.953C457.786 153.709 457.629 153.405 457.564 153.076C457.438 152.416 457.438 151.739 457.564 151.079C457.71 150.036 457.854 148.996 457.996 147.96C458.242 148.063 458.507 148.116 458.774 148.116C459.042 148.116 459.306 148.063 459.553 147.96C460.038 148.748 460.601 149.485 461.234 150.159C462.94 152.176 464.269 154.485 465.156 156.974C465.476 157.872 465.801 158.876 466.63 159.352C466.916 159.515 467.241 159.599 467.521 159.773C467.866 160.014 468.163 160.319 468.395 160.67C469.067 161.562 469.74 162.449 470.407 163.34L470.44 163.475C470.458 163.554 470.489 163.63 470.53 163.699C470.654 163.839 470.826 163.927 471.012 163.946C473.074 164.423 475.388 164.86 477.175 163.733C478.789 162.723 479.495 160.727 480.862 159.392C481.831 158.444 483.204 157.709 483.479 156.374C483.152 156.273 482.83 156.155 482.515 156.021C482.795 155.74 483.075 155.415 483.456 155.045C484.01 154.502 484.509 153.907 484.947 153.267C485.42 152.477 485.796 151.633 486.067 150.754C487.147 147.673 488.23 144.589 489.317 141.504C489.833 140.046 490.348 138.577 490.998 137.157C491.67 135.621 492.466 134.145 493.2 132.637C495.094 128.713 496.556 124.594 497.559 120.353C497.737 119.774 497.796 119.166 497.733 118.564C497.576 117.593 496.842 116.83 496.142 116.14C495.438 115.377 494.635 114.711 493.755 114.16C493.313 113.885 492.821 113.701 492.307 113.618C491.794 113.535 491.269 113.556 490.763 113.678C489.328 114.099 488.426 115.568 488.096 117.043C487.765 118.519 487.888 120.039 487.748 121.531C487.547 123.69 486.807 125.777 486.628 127.942C486.532 129.193 486.628 130.46 486.476 131.711C486.201 133.348 485.631 134.922 484.795 136.355C482.978 139.775 480.518 142.811 477.551 145.296C477.209 145.582 476.856 145.857 476.52 146.166C476.52 145.924 476.559 145.678 476.592 145.436C476.348 145.5 476.11 145.584 475.881 145.689C475.909 145.406 475.88 145.119 475.797 144.847C475.349 143.507 473.354 143.165 472.995 141.802C472.935 141.465 472.904 141.123 472.9 140.781C472.782 139.586 471.97 138.577 471.69 137.415C471.432 136.344 471.628 135.172 471.129 134.179C470.704 133.558 470.204 132.993 469.639 132.496C468.966 131.727 468.48 130.811 468.221 129.821C468.148 129.546 468.081 129.26 468.003 128.985C468.088 128.363 468.019 127.729 467.801 127.14C467.291 125.872 465.974 125.059 465.498 123.774C465.128 122.776 465.291 121.531 464.59 120.757C464.218 120.387 463.763 120.112 463.263 119.955C460.698 118.955 458.007 118.319 455.267 118.064C453.732 117.924 452.039 117.846 450.941 116.763C449.658 115.507 449.596 113.246 448.095 112.276C446.772 111.418 444.901 112.051 443.876 113.257C443.722 113.435 443.579 113.622 443.45 113.818C443.263 113.067 443.223 112.286 443.332 111.519C443.332 111.328 443.371 111.132 443.388 110.958C445.918 110.13 448.071 108.428 449.462 106.156C449.462 106.156 449.462 106.156 449.462 106.19L449.529 106.364C449.692 106.773 449.949 107.166 450.33 107.211C450.584 107.208 450.829 107.119 451.025 106.958C451.363 106.723 451.675 106.453 451.955 106.151C452.097 105.994 452.232 105.831 452.359 105.663C452.617 105.312 452.839 104.937 453.02 104.541C453.298 103.946 453.487 103.313 453.58 102.662C453.681 102.011 453.692 101.344 453.804 100.693C453.909 100.19 454.046 99.6931 454.213 99.2068C454.27 99.0441 454.326 98.8815 454.376 98.7188C454.426 98.5561 454.499 98.3374 454.555 98.1579C454.906 97.0043 455.095 95.8074 455.116 94.6018C455.116 94.3999 455.116 94.1979 455.116 93.996C455.095 93.2092 454.918 92.4343 454.595 91.7168C454.272 90.9992 453.809 90.3535 453.233 89.8173C452.269 89.0264 450.992 88.6955 450.286 87.6242C449.826 86.9062 449.725 85.9807 449.456 85.1394C449.166 84.1325 448.599 83.2273 447.821 82.5263C447.042 81.8254 446.083 81.3569 445.052 81.1738C443.811 81.0375 442.564 81.3806 441.567 82.1329L441.489 82.1946C440.933 82.6194 440.462 83.1444 440.099 83.7427C439.359 83.5386 438.681 83.153 438.127 82.6209C437.567 82.0993 437.135 81.443 436.569 80.9382C436.04 80.4534 435.391 80.1195 434.689 79.9715C433.988 79.8235 433.259 79.8668 432.58 80.0969C431.88 80.3775 431.257 80.8201 430.761 81.3886C430.265 81.957 429.911 82.635 429.728 83.3669C429.42 84.5224 429.476 85.8517 428.831 86.8165C428.333 87.5681 427.514 87.9383 426.943 88.6226C426.588 89.0559 426.345 89.5703 426.237 90.1202C426.169 90.4277 426.137 90.742 426.142 91.0569C426.142 91.1971 426.142 91.3373 426.175 91.472C426.175 91.472 426.175 91.5168 426.175 91.5393C426.195 91.693 426.227 91.8449 426.271 91.9936C426.43 92.5622 426.715 93.0875 427.105 93.5305C427.475 93.9546 427.937 94.2885 428.456 94.5064C428.668 94.5891 428.885 94.6584 429.106 94.714L429.773 94.8654L430.008 94.9215C429.203 96.4339 428.756 98.1111 428.702 99.8237C428.648 101.536 428.987 103.239 429.694 104.799C429.694 104.956 429.655 105.113 429.638 105.27C429.547 107.479 429.644 109.691 429.929 111.883C430.008 112.753 430.053 113.712 429.52 114.402C429.278 114.673 429.005 114.916 428.708 115.125C429.011 114.733 429.319 114.346 429.632 113.959C428.842 113.162 427.593 113.061 426.472 113.14C424.303 113.302 422.198 113.946 420.309 115.024C419.054 115.748 417.765 116.707 416.331 116.539C415.485 116.443 414.65 115.978 413.826 116.202C413.363 116.392 412.931 116.649 412.543 116.965C412.236 117.185 411.867 117.299 411.489 117.29C410.61 116.208 409.248 115.473 408.195 114.592C406.996 113.524 405.899 112.347 404.917 111.075C403.102 108.882 401.292 106.684 399.51 104.468C398.008 102.606 396.467 100.592 396.204 98.2084C396.177 97.9719 396.164 97.7341 396.165 97.496C396.201 96.3634 396.344 95.2366 396.591 94.1306C396.657 93.8636 396.657 93.5843 396.591 93.3173C396.423 92.7564 395.778 92.5489 395.224 92.4255C395.296 91.9936 395.347 91.5505 395.375 91.1298C395.689 86.306 395.347 81.4038 396.367 76.681C396.753 74.8636 397.386 73.0239 398.692 71.7058C400.737 69.636 404.161 69.1368 405.729 66.6857C407.041 64.644 406.52 61.7553 404.872 59.9549C403.225 58.1544 400.687 57.4196 398.272 57.5093C397.594 57.486 396.925 57.6657 396.35 58.0253C395.812 58.5032 395.41 59.1146 395.184 59.7978L392.781 65.648C392.084 67.1711 391.496 68.7419 391.021 70.3484C390.349 72.8051 390.198 75.3965 389.665 77.8757C389.665 79.7827 388.438 82.161 387.766 83.9166C387.015 85.891 386.202 87.8429 385.525 89.8566C385.356 90.3614 384.768 91.859 384.404 93.222C384.266 93.3022 384.138 93.3982 384.023 93.508C383.73 93.8834 383.464 94.2788 383.227 94.6915C382.717 95.3646 381.888 95.7236 381.328 96.3742C380.767 97.0249 380.65 98.2196 381.429 98.5449C381.587 98.5981 381.75 98.6339 381.916 98.6515C382.018 98.6601 382.119 98.677 382.219 98.702C383.059 98.9376 383.39 99.9977 383.266 100.873C383.143 101.748 382.706 102.555 382.633 103.43C382.482 104.978 383.39 106.42 384.264 107.721C385.169 109.132 386.168 110.479 387.256 111.754C388.046 112.64 388.937 113.437 389.732 114.289C392.764 117.408 395.173 121.054 397.896 124.442C398.876 125.72 399.99 126.89 401.219 127.931C402.021 128.559 402.862 129.138 403.735 129.664L408.419 132.637C408.95 133.026 409.551 133.31 410.19 133.472C410.398 133.5 410.609 133.5 410.817 133.472C410.845 133.613 410.868 133.747 410.901 133.887C411.265 135.357 412.067 136.692 412.156 138.189C412.246 139.687 412.111 141.218 412.218 142.733C412.319 144.129 412.627 145.537 412.705 146.912C412.862 149.559 412.212 152.173 411.585 154.764C410.638 158.556 410.066 162.426 408.223 165.864C407.707 166.812 407.102 167.777 407.102 168.86C407.102 168.989 407.102 169.123 407.136 169.252L406.295 169.729C406.049 169.869 405.802 170.009 405.578 170.155C404.514 170.851 403.376 171.619 402.939 172.82C402.586 173.79 402.749 174.901 402.323 175.843C402.303 175.885 402.28 175.926 402.255 175.966C401.807 176.841 400.916 177.492 400.715 178.451C400.563 179.186 400.855 179.966 400.715 180.695C400.715 180.695 400.715 180.695 400.715 180.723C400.587 181.089 400.486 181.464 400.412 181.845C400.406 181.969 400.417 182.093 400.446 182.215C400.552 182.64 400.787 183.022 401.118 183.308C401.32 183.502 401.539 183.677 401.774 183.83C402.013 183.987 402.259 184.133 402.513 184.268L402.659 184.346C402.872 184.458 403.085 184.565 403.303 184.666L403.449 184.728C403.701 184.84 403.959 184.941 404.217 185.03L404.396 185.087C404.598 185.154 404.805 185.216 405.012 185.266L405.152 185.311L405.281 185.339L405.842 185.457L406.049 185.496C406.295 185.537 406.548 185.571 406.805 185.597H407.029C407.22 185.597 407.405 185.625 407.59 185.631H407.853C408.049 185.631 408.24 185.631 408.413 185.631H408.615C408.878 185.631 409.142 185.591 409.405 185.558H409.489C409.724 185.524 409.96 185.485 410.195 185.434L410.374 185.395C410.593 185.345 410.812 185.294 411.03 185.227L411.148 185.193C411.411 185.115 411.674 185.03 411.932 184.929C412.824 184.563 413.689 184.133 414.521 183.645C415.081 183.337 415.641 183.022 416.202 182.736C416.617 182.527 417.044 182.34 417.479 182.175C418.539 181.722 419.692 181.53 420.841 181.615C421.408 181.692 421.97 181.806 422.522 181.957C422.522 182.018 422.522 182.08 422.522 182.142C422.978 184.834 423.428 187.526 423.872 190.219C424.606 189.69 425.382 189.223 426.192 188.822C426.041 189.229 425.941 189.653 425.895 190.084C425.862 190.418 425.862 190.754 425.895 191.088C425.946 191.621 426.058 192.21 425.738 192.631C425.542 192.889 425.178 193.035 425.072 193.326C424.994 193.624 424.975 193.935 425.015 194.24C424.993 194.589 424.845 194.918 424.6 195.167C424.356 195.416 424.03 195.569 423.682 195.598C423.842 196.049 423.846 196.542 423.693 196.996C423.539 197.45 423.237 197.838 422.836 198.099C422.601 198.212 422.383 198.356 422.186 198.526C421.994 198.774 421.865 199.064 421.81 199.373C421.07 202.15 419.547 204.656 417.423 206.592C416.626 207.218 415.899 207.929 415.255 208.712C414.856 209.318 414.527 209.967 414.274 210.647C412.78 214.304 411.263 217.963 409.724 221.624C408.873 223.671 408.044 225.752 407.775 227.956C407.102 234.003 401.723 239.13 402.732 245.131C402.936 246.63 403.54 248.047 404.48 249.231C405.601 250.583 407.282 251.357 408.962 251.985C413.282 253.668 417.838 254.588 422.376 255.513L429.504 256.977C430.902 257.299 432.321 257.524 433.751 257.65C435.471 257.768 437.236 257.606 438.911 258.043C439.948 258.312 440.94 258.812 442.01 258.868C442.929 258.918 444.061 258.722 444.604 259.473C445.148 260.225 444.727 261.218 445.243 261.885C446.072 262.945 448.095 261.885 448.997 262.884C449.243 263.267 449.432 263.685 449.557 264.123C449.694 264.394 449.885 264.635 450.118 264.83C450.172 265.147 450.195 265.468 450.185 265.789C450.068 267.092 449.797 268.376 449.378 269.615C448.706 271.892 448.035 274.171 447.366 276.452C447.111 277.257 446.924 278.083 446.806 278.92C446.764 279.326 446.764 279.736 446.806 280.143C446.924 281.382 447.635 282.661 448.818 283.065C449.735 283.308 450.71 283.187 451.541 282.728C452.342 282.309 453.094 281.801 453.782 281.214C455.023 280.274 456.113 279.151 457.015 277.882C459.817 273.687 458.909 268.01 460.876 263.372C462.181 260.275 464.725 257.763 465.571 254.498C465.769 253.877 465.792 253.213 465.638 252.58C465.285 251.458 464.092 250.819 462.977 250.415H462.926C462.01 250.088 461.075 249.821 460.125 249.613C459.889 249.562 459.649 249.523 459.408 249.484C458.874 249.05 458.45 248.496 458.169 247.868C458.125 247.535 458.037 247.208 457.906 246.898C457.817 246.764 457.697 246.654 457.557 246.576C457.416 246.498 457.26 246.454 457.099 246.449C456.539 246.393 455.788 246.595 455.177 246.55C453.928 246.46 453.098 245.232 451.978 244.666C450.857 244.099 449.641 244.239 448.448 244.323C448.021 244.382 447.587 244.355 447.17 244.245C446.673 244.015 446.218 243.702 445.826 243.319C445.136 242.782 444.331 242.413 443.474 242.241C442.618 242.068 441.733 242.098 440.889 242.327C440.353 242.543 439.785 242.672 439.208 242.708C438.116 242.646 437.342 241.67 436.536 240.93C434.328 238.905 431.185 238.372 428.506 237.043C428.096 236.89 427.754 236.596 427.542 236.213C427.234 235.45 427.929 234.687 428.557 234.165L433.162 230.335C438.205 226.139 444.509 222.981 446.851 216.828C447.095 216.003 447.474 215.224 447.972 214.523C448.153 214.309 448.362 214.12 448.594 213.962C449.612 213.301 450.847 213.06 452.039 213.289C453.493 213.614 454.87 214.216 456.096 215.061C458.102 216.276 460.054 217.585 461.951 218.987C463.831 220.332 465.619 221.801 467.302 223.385C470.244 226.189 472.693 229.516 475.433 232.539C478.173 235.562 481.305 238.383 485.109 239.831C488.914 241.278 493.514 241.216 496.781 238.787C500.551 235.983 501.762 230.968 502.714 226.369C504.815 224.339 505.449 221.248 506.474 218.516C507.118 216.783 507.942 215.151 508.637 213.423C509.466 211.393 510.116 209.295 510.766 207.203C511.503 205.102 512.002 202.925 512.256 200.713C512.525 197.219 511.59 193.5 512.57 190.219C513.865 189.933 515.041 189.204 516.313 188.777C518.207 188.155 520.235 188.256 522.241 188.267H522.37C523.061 188.34 523.757 188.176 524.342 187.801C525.015 187.24 525.121 186.281 525.155 185.412C525.233 183.264 525.099 180.852 523.491 179.461ZM442.307 83.782C441.844 83.8967 441.364 83.9309 440.889 83.8829L442.307 83.782Z"
                fill="url(#paint0_linear)"
              />
              <path
                d="M444.514 119.265C443.836 119.842 443.041 120.264 442.183 120.504L438.211 121.929C436.054 122.703 433.801 123.483 431.526 123.202C430.254 123.045 424.802 122.243 423.979 121.25C422.724 119.713 427.122 117.453 428.624 116.157C428.964 115.912 429.28 115.634 429.565 115.327C430.125 114.643 430.053 113.684 429.974 112.82C429.689 110.632 429.592 108.423 429.683 106.218C429.726 105.692 429.801 105.17 429.907 104.653C430.467 102.073 432.865 103.015 434.759 103.7C437.039 104.441 439.243 105.397 441.343 106.555C441.983 106.885 442.538 107.357 442.968 107.934C443.797 109.191 443.467 110.84 443.332 112.422C443.214 113.65 443.22 114.828 443.988 115.72C444.374 116.061 444.728 116.436 445.047 116.842C445.226 117.25 445.271 117.705 445.175 118.14C445.08 118.576 444.848 118.969 444.514 119.265Z"
                fill="#BE6F72"
              />
              <path
                d="M389.637 78.8404C390.197 76.3556 390.321 73.7923 390.993 71.3299C391.468 69.7289 392.056 68.1638 392.752 66.6464L395.223 60.8747C395.449 60.1932 395.852 59.5837 396.389 59.1079C396.965 58.7507 397.633 58.5713 398.311 58.5919C400.726 58.5021 403.264 59.2537 404.911 61.0318C406.559 62.8098 407.08 65.6873 405.769 67.7233C404.2 70.1745 400.776 70.6681 398.731 72.7322C397.425 74.0503 396.792 75.8845 396.406 77.6962C395.386 82.4078 395.728 87.2932 395.414 92.1058C395.313 93.6034 395.022 95.3141 393.733 96.0882C392.954 96.4702 392.088 96.6387 391.223 96.5762L387.547 96.6379C386.931 96.6379 384.695 97.0249 384.286 96.5593C383.569 95.746 385.205 91.6963 385.502 90.7933C386.163 88.7908 386.976 86.8389 387.743 84.8701C388.41 83.1145 389.637 80.7419 389.637 78.8404Z"
                fill="#BE6F72"
              />
              <path
                d="M465.532 255.054C464.686 258.296 462.142 260.82 460.836 263.91C458.87 268.538 459.755 274.197 456.976 278.381C456.074 279.652 454.984 280.778 453.743 281.719C453.055 282.305 452.303 282.811 451.502 283.228C450.671 283.686 449.696 283.807 448.778 283.564C447.596 283.16 446.885 281.881 446.767 280.648C446.725 280.243 446.725 279.835 446.767 279.43C446.885 278.595 447.072 277.772 447.327 276.968C448 274.698 448.67 272.425 449.339 270.147C449.757 268.912 450.028 267.632 450.146 266.333C450.218 264.92 449.322 263.08 449.703 261.762C449.877 261.167 450.527 260.64 450.824 260.141C451.245 259.422 451.569 258.651 451.787 257.847C452.247 256.282 452.561 254.61 453.524 253.292C454.153 252.511 454.889 251.821 455.71 251.245C456.315 250.713 457.025 250.314 457.794 250.073C458.54 249.941 459.305 249.978 460.035 250.179C460.986 250.383 461.922 250.649 462.837 250.976H462.887C464.008 251.38 465.196 252.002 465.549 253.135C465.72 253.764 465.714 254.428 465.532 255.054Z"
                fill="#3F3D56"
              />
              <path
                d="M525.149 186.096C525.115 186.966 525.009 187.936 524.337 188.48C523.751 188.855 523.056 189.019 522.364 188.946H522.213C520.213 188.946 518.179 188.833 516.285 189.456C514.845 189.933 513.523 190.808 512.021 190.982C509.953 191.217 508.009 190.084 506.177 189.097C504.452 188.167 502.681 187.324 500.871 186.573C499.683 186.085 497.257 185.771 496.685 184.47C496.489 183.854 496.325 183.229 496.192 182.596C496.098 182.313 495.984 182.038 495.85 181.772C495.514 181.203 495.3 180.571 495.223 179.915C495.225 179.261 495.45 178.628 495.861 178.12C496.318 177.578 496.878 177.133 497.508 176.808C498.138 176.484 498.825 176.287 499.531 176.23C500.943 176.12 502.364 176.195 503.756 176.454L517.551 178.44C518.616 178.591 519.686 178.743 520.734 179.001C521.729 179.174 522.667 179.585 523.468 180.201C525.099 181.57 525.233 183.976 525.149 186.096Z"
                fill="#3F3D56"
              />
              <path
                d="M513.024 189.686C511.343 193.236 512.553 197.438 512.251 201.364C511.997 203.57 511.497 205.742 510.76 207.837C510.11 209.923 509.461 212.015 508.631 214.04C507.936 215.723 507.113 217.406 506.468 219.122C505.443 221.859 504.787 224.939 502.709 226.975C501.756 231.563 500.546 236.577 496.775 239.359C493.497 241.783 488.931 241.867 485.104 240.403C481.277 238.939 478.167 236.134 475.427 233.111C472.687 230.088 470.238 226.795 467.297 223.98C465.611 222.396 463.819 220.928 461.935 219.588C460.037 218.208 458.085 216.91 456.079 215.695C454.851 214.854 453.475 214.254 452.023 213.928C450.83 213.699 449.596 213.94 448.577 214.601C448.345 214.759 448.136 214.948 447.955 215.162C447.456 215.861 447.077 216.638 446.834 217.462C444.481 223.598 438.166 226.75 433.123 230.935L428.517 234.754C427.89 235.276 427.195 236.039 427.503 236.796C427.715 237.179 428.057 237.474 428.467 237.626C431.145 238.95 434.289 239.483 436.496 241.502C437.303 242.243 438.076 243.218 439.169 243.275C439.746 243.241 440.313 243.114 440.85 242.899C441.693 242.67 442.577 242.641 443.434 242.812C444.29 242.983 445.096 243.351 445.786 243.886C446.179 244.269 446.633 244.582 447.131 244.811C447.548 244.922 447.982 244.948 448.409 244.89C449.602 244.806 450.868 244.699 451.939 245.232C453.009 245.765 453.888 247.021 455.138 247.111C455.749 247.156 456.477 246.954 457.06 247.01C457.22 247.015 457.377 247.059 457.518 247.137C457.658 247.215 457.778 247.325 457.867 247.459C457.997 247.767 458.086 248.092 458.13 248.424C458.36 249.215 459.133 249.697 459.637 250.348C460.411 251.346 460.523 252.703 460.444 253.965C460.19 257.912 458.434 261.61 455.536 264.297C454.713 265.139 453.664 265.724 452.516 265.98C451.941 266.1 451.342 266.037 450.806 265.798C450.269 265.56 449.82 265.158 449.524 264.651C449.399 264.214 449.21 263.798 448.963 263.417C448.061 262.424 446.038 263.478 445.209 262.418C444.694 261.756 445.064 260.696 444.57 260.012C444.077 259.328 442.89 259.451 441.976 259.412C440.906 259.356 439.914 258.851 438.878 258.587C437.197 258.15 435.437 258.312 433.717 258.195C432.288 258.068 430.869 257.844 429.47 257.521L422.343 256.063C417.804 255.138 413.249 254.201 408.929 252.546C407.276 251.918 405.612 251.144 404.446 249.798C403.507 248.615 402.903 247.201 402.698 245.703C401.684 239.718 407.063 234.603 407.741 228.573C407.982 226.375 408.862 224.299 409.691 222.258C411.211 218.608 412.728 214.956 414.241 211.303C414.485 210.623 414.805 209.972 415.193 209.362C415.838 208.582 416.565 207.873 417.362 207.248C419.485 205.319 421.008 202.819 421.749 200.046C421.804 199.737 421.933 199.447 422.124 199.199C422.323 199.032 422.541 198.891 422.774 198.778C423.174 198.517 423.475 198.129 423.629 197.677C423.782 197.224 423.779 196.733 423.62 196.282C423.968 196.253 424.294 196.1 424.539 195.851C424.784 195.602 424.931 195.273 424.954 194.925C424.913 194.621 424.932 194.312 425.01 194.016C425.144 193.724 425.481 193.579 425.677 193.321C425.996 192.9 425.884 192.311 425.834 191.784C425.8 191.45 425.8 191.114 425.834 190.78C425.956 189.592 426.487 188.484 427.335 187.644C428.674 186.326 430.579 186.668 432.428 186.354C434.273 185.956 436.074 185.379 437.807 184.632C442.669 182.715 447.788 181.529 452.998 181.115C458.233 180.703 463.491 181.541 468.339 183.561C469.044 183.847 469.709 184.224 470.317 184.683C470.748 185.016 471.102 185.439 471.353 185.922C471.56 186.516 471.815 187.092 472.116 187.644C472.715 188.463 473.847 188.727 474.502 189.501C475.158 190.275 475.214 191.582 475.758 192.541C476.536 193.91 478.341 194.543 478.879 196.03C479.047 196.501 479.069 197.017 479.192 197.505C479.495 198.728 480.403 199.692 481.204 200.657C484.141 204.174 486.022 208.453 486.628 212.997C486.807 210.153 488.718 207.635 491.11 206.064C491.755 205.644 492.5 205.178 492.629 204.415C492.791 203.45 491.855 202.592 491.917 201.611C491.985 201.131 492.178 200.679 492.477 200.298C493.545 198.749 494.717 197.274 495.985 195.884C496.674 195.127 497.447 194.201 497.162 193.203C496.943 192.457 496.181 192.019 495.761 191.369C495.516 190.981 495.39 190.529 495.4 190.07C495.41 189.611 495.555 189.165 495.817 188.789C496.209 188.256 496.831 187.869 497.021 187.235C497.24 186.489 496.753 185.681 496.904 184.913C497.109 184.297 497.515 183.769 498.058 183.415C498.802 182.737 499.647 182.181 500.563 181.766C502.042 181.205 503.689 181.413 505.258 181.631C507.88 181.996 510.822 182.557 512.301 184.756C513.248 186.13 513.73 188.216 513.024 189.686Z"
                fill="#65617D"
              />
              <path
                opacity="0.1"
                d="M525.149 186.096C525.116 186.966 525.009 187.936 524.337 188.48C523.751 188.855 523.056 189.019 522.365 188.946H522.213C522.443 187.779 523.861 187.111 524.107 185.928C524.149 185.564 524.116 185.196 524.01 184.846C523.904 184.496 523.727 184.171 523.491 183.892C522.292 182.271 520.364 181.373 518.448 180.717C513.034 178.859 507.235 178.425 501.605 179.455C500.074 179.705 498.585 180.163 497.178 180.818C496.712 181.11 496.263 181.428 495.834 181.772C495.497 181.203 495.284 180.571 495.206 179.915C495.208 179.261 495.434 178.628 495.845 178.12C496.302 177.578 496.861 177.133 497.491 176.808C498.121 176.484 498.809 176.287 499.515 176.23C500.927 176.12 502.347 176.195 503.74 176.454L517.535 178.44C518.599 178.591 519.669 178.743 520.717 179.001C521.712 179.174 522.651 179.585 523.452 180.201C525.099 181.57 525.233 183.976 525.149 186.096Z"
                fill="black"
              />
              <path
                opacity="0.1"
                d="M465.532 255.054C464.686 258.296 462.142 260.82 460.836 263.91C458.87 268.538 459.755 274.197 456.976 278.381C456.074 279.652 454.984 280.778 453.743 281.719C453.055 282.305 452.303 282.811 451.502 283.228C450.671 283.686 449.696 283.807 448.778 283.564C447.596 283.16 446.885 281.881 446.767 280.648C446.725 280.243 446.725 279.835 446.767 279.43L446.8 279.52C447.288 280.698 448.084 281.932 449.339 282.139C449.81 282.173 450.283 282.11 450.728 281.953C451.174 281.795 451.582 281.548 451.927 281.225C453.776 279.739 454.852 277.523 455.878 275.386C456.68 273.845 457.315 272.222 457.771 270.546C457.996 269.592 458.102 268.616 458.332 267.663C459.396 263.03 463.022 259.249 463.823 254.554C463.888 254.231 463.903 253.9 463.868 253.573C463.762 253.146 463.6 252.734 463.386 252.35C463.191 251.916 463.048 251.46 462.96 250.993C464.081 251.396 465.269 252.019 465.622 253.152C465.766 253.782 465.735 254.44 465.532 255.054Z"
                fill="black"
              />
              <path
                opacity="0.1"
                d="M457.071 247.01C456.552 248.367 455.68 249.56 454.544 250.465C452.949 251.682 451.081 252.491 449.103 252.821C448.183 253.056 447.216 253.045 446.302 252.787C445.058 252.356 444.161 251.189 442.889 250.852C441.982 250.606 441.007 250.824 440.088 250.69C438.435 250.46 437.152 249.198 435.818 248.188C431.734 245.114 426.371 244.122 422.287 241.048C422.105 240.936 421.954 240.78 421.85 240.593C421.771 240.392 421.742 240.175 421.766 239.96C421.781 238.095 422.199 236.256 422.993 234.569C423.642 233.392 424.416 232.289 425.301 231.277C428.96 226.79 432.636 222.269 437.017 218.483C438.855 216.895 440.861 215.415 443.181 214.697C444.469 214.298 447.013 213.923 448.582 214.596C448.351 214.754 448.141 214.943 447.96 215.157C447.461 215.855 447.083 216.633 446.84 217.456C444.481 223.598 438.166 226.75 433.123 230.935L428.517 234.754C427.89 235.276 427.195 236.039 427.503 236.796C427.715 237.179 428.057 237.474 428.467 237.626C431.145 238.95 434.289 239.483 436.496 241.502C437.303 242.243 438.076 243.218 439.169 243.275C439.746 243.241 440.313 243.114 440.85 242.899C441.693 242.67 442.577 242.641 443.434 242.812C444.29 242.983 445.095 243.351 445.786 243.886C446.178 244.269 446.633 244.582 447.131 244.811C447.547 244.922 447.982 244.948 448.408 244.89C449.602 244.806 450.868 244.699 451.938 245.232C453.009 245.765 453.888 247.021 455.138 247.111C455.76 247.156 456.488 246.943 457.071 247.01Z"
                fill="black"
              />
              <path
                d="M405.539 170.885C404.474 171.569 403.342 172.343 402.905 173.532C402.547 174.502 402.715 175.613 402.283 176.555C401.852 177.498 400.883 178.154 400.67 179.163C400.518 179.898 400.815 180.672 400.67 181.407C400.543 181.789 400.44 182.179 400.361 182.574C400.305 183.409 401.023 184.088 401.723 184.554C403.214 185.525 404.912 186.132 406.68 186.327C408.448 186.522 410.238 186.298 411.904 185.676C413.4 185.115 414.75 184.2 416.185 183.482C417.584 182.676 419.184 182.287 420.796 182.361C421.721 182.462 422.606 182.798 423.53 182.921C423.987 183.012 424.459 182.99 424.905 182.857C425.351 182.724 425.758 182.484 426.091 182.159C426.377 181.764 426.568 181.309 426.651 180.829C427.43 177.75 427.077 174.486 426.338 171.389C425.598 168.293 424.477 165.315 423.687 162.235C423.127 159.953 422.696 157.614 421.76 155.454C420.824 153.295 419.25 151.287 417.048 150.462C416.874 150.377 416.677 150.351 416.487 150.389C416.346 150.448 416.221 150.541 416.123 150.658C414.381 152.506 413.069 154.717 412.279 157.131C411.4 159.818 411.159 162.667 410.352 165.365C410.004 166.487 409.556 167.99 408.671 168.848C407.786 169.707 406.542 170.239 405.539 170.885Z"
                fill="#3F3D56"
              />
              <path
                opacity="0.1"
                d="M426.668 180.812C426.574 181.294 426.373 181.749 426.08 182.142C425.748 182.468 425.341 182.708 424.894 182.84C424.447 182.972 423.975 182.993 423.519 182.899C422.6 182.787 421.715 182.445 420.791 182.338C419.178 182.263 417.578 182.653 416.179 183.46C414.745 184.178 413.378 185.07 411.893 185.647C409.721 186.472 407.348 186.607 405.096 186.034C403.9 185.734 402.764 185.233 401.734 184.554C401.028 184.094 400.317 183.432 400.373 182.574C400.451 182.181 400.554 181.793 400.681 181.413C400.827 180.678 400.535 179.904 400.681 179.169C400.894 178.159 401.869 177.486 402.295 176.555C402.72 175.624 402.558 174.508 402.911 173.538C403.348 172.343 404.485 171.574 405.55 170.884C406.615 170.195 407.881 169.667 408.733 168.832C408.843 168.701 408.942 168.563 409.03 168.417C409.644 167.468 410.095 166.424 410.363 165.326C411.187 162.622 411.411 159.779 412.285 157.086C413.078 154.674 414.392 152.465 416.134 150.619C416.228 150.499 416.351 150.406 416.493 150.35C416.682 150.311 416.879 150.335 417.053 150.417C419.25 151.247 420.824 153.255 421.765 155.415C422.707 157.574 423.105 159.902 423.693 162.191C424.477 165.27 425.604 168.259 426.343 171.35C427.083 174.441 427.447 177.728 426.668 180.812Z"
                fill="black"
              />
              <path
                opacity="0.1"
                d="M443.332 112.405C440.698 113.243 437.847 113.076 435.327 111.938C432.807 110.799 430.797 108.768 429.683 106.235C429.727 105.709 429.802 105.187 429.907 104.67C430.468 102.09 432.866 103.032 434.76 103.716C437.039 104.458 439.244 105.414 441.343 106.571C441.983 106.901 442.539 107.373 442.968 107.951C443.797 109.191 443.467 110.84 443.332 112.405Z"
                fill="black"
              />
              <path
                d="M439.948 112.371C446.137 112.371 451.154 107.349 451.154 101.153C451.154 94.9576 446.137 89.9351 439.948 89.9351C433.759 89.9351 428.742 94.9576 428.742 101.153C428.742 107.349 433.759 112.371 439.948 112.371Z"
                fill="#BE6F72"
              />
              <path
                opacity="0.1"
                d="M470.356 184.986C470.356 185.917 469.096 186.214 468.16 186.163C464.798 185.967 461.509 185.042 458.181 185.322C453.973 185.704 450.107 188.031 445.887 188.244C444.263 188.329 442.61 188.087 441.007 188.385C438.934 188.772 437.085 190.034 434.972 190.213C433.14 190.37 431.33 189.68 429.498 189.753C428.217 189.83 426.968 190.186 425.839 190.797C425.962 189.609 426.493 188.501 427.341 187.661C428.68 186.343 430.585 186.685 432.434 186.371C434.279 185.973 436.08 185.396 437.813 184.649C442.675 182.731 447.794 181.546 453.003 181.132C458.235 180.716 463.491 181.548 468.339 183.561C469.045 183.847 469.71 184.224 470.317 184.683C470.348 184.781 470.361 184.883 470.356 184.986Z"
                fill="black"
              />
              <path
                d="M434.765 121.637L430.226 119.955L428.31 119.248C427.529 118.92 426.707 118.701 425.867 118.597C423.671 118.429 421.603 119.893 420.432 121.761C419.261 123.628 418.818 125.855 418.443 128.026C417.927 130.995 417.49 133.975 417.132 136.967C416.746 139.668 416.549 142.393 416.543 145.122C416.672 152.066 418.14 158.915 419.754 165.674C420.544 168.67 421.141 171.715 421.541 174.788C421.676 176.056 421.738 177.329 421.872 178.603C422.018 180.033 422.253 181.446 422.488 182.865L423.839 190.926C425.52 189.731 427.43 188.682 429.498 188.62C431.33 188.553 433.146 189.237 434.972 189.08C437.073 188.906 438.934 187.644 441.007 187.257C442.609 186.96 444.262 187.196 445.893 187.117C450.106 186.904 453.978 184.571 458.18 184.195C461.514 183.892 464.826 184.834 468.165 185.03C469.095 185.087 470.356 184.789 470.356 183.853C470.356 183.202 469.706 182.77 469.14 182.445C466.473 180.837 463.934 179.023 461.548 177.021C459.34 175.271 457.099 173.476 455.581 171.109C451.922 165.416 453.177 157.715 450.056 151.707C447.518 146.827 450.056 140.433 450.056 134.931C450.056 132.188 450.056 129.411 449.412 126.747C449.009 125.257 448.507 123.795 447.91 122.372L445.73 116.847C445.685 116.686 445.596 116.54 445.473 116.426C445.326 116.325 445.152 116.273 444.974 116.275C443.665 116.196 442.374 116.611 441.354 117.436C440.329 118.272 439.673 119.472 438.665 120.342C437.561 121.301 436.138 122.142 434.765 121.637Z"
                fill="#E3E8F4"
              />
              <path
                d="M442.088 118.451C442.447 116.914 442.834 115.316 443.859 114.116C444.884 112.915 446.756 112.281 448.078 113.14C449.58 114.116 449.641 116.37 450.924 117.627C452.045 118.704 453.726 118.788 455.25 118.928C457.99 119.178 460.682 119.812 463.246 120.813C463.746 120.968 464.201 121.241 464.574 121.609C465.274 122.406 465.134 123.628 465.481 124.621C465.958 125.9 467.274 126.713 467.784 127.987C468.345 129.4 467.784 130.982 467.314 132.435C466.468 135.043 465.935 137.752 465.112 140.371C464.288 142.991 463.117 145.571 461.189 147.545C460.338 148.42 459.071 149.228 457.951 148.706L457.519 151.819C457.393 152.477 457.393 153.153 457.519 153.811C457.584 154.14 457.741 154.444 457.971 154.688C458.201 154.932 458.495 155.106 458.819 155.19C458.903 155.673 459.413 155.903 459.828 156.166C460.134 156.376 460.395 156.644 460.597 156.956C460.799 157.267 460.937 157.616 461.003 157.981C461.069 158.346 461.062 158.721 460.983 159.083C460.903 159.446 460.753 159.789 460.539 160.093C460.186 160.57 459.665 160.945 459.497 161.512C459.245 162.331 459.845 163.195 460.573 163.643C461.301 164.092 462.159 164.3 462.898 164.731C464.434 165.618 465.257 167.362 465.784 169.056C466.176 170.335 466.501 171.72 467.465 172.651C467.835 173.005 468.277 173.274 468.63 173.644C469.241 174.367 469.594 175.273 469.633 176.219C469.787 177.391 469.529 178.58 468.905 179.584C467.784 181.188 465.694 181.665 463.862 182.389C460.887 183.611 458.438 185.799 455.816 187.661C454.748 188.522 453.49 189.115 452.146 189.389C450.331 189.63 448.543 188.828 446.717 188.755C445.624 188.765 444.536 188.908 443.478 189.181L440.116 189.91C440.295 187.302 438.861 184.688 438.06 182.204C436.547 177.526 436.267 172.522 436.625 167.62C436.984 162.718 437.981 157.883 438.967 153.07C439.657 149.705 439.589 146.188 440.648 142.918C441.64 139.771 443.058 136.748 443.579 133.472C444.43 128.172 440.889 123.679 442.088 118.451Z"
                fill="#3F3D56"
              />
              <path
                d="M467.577 128.822C467.886 129.392 468.104 130.008 468.221 130.645C468.48 131.633 468.966 132.548 469.639 133.315C470.203 133.813 470.703 134.378 471.129 134.998C471.645 135.974 471.449 137.163 471.69 138.229C471.97 139.39 472.782 140.399 472.9 141.594C472.903 141.937 472.935 142.278 472.995 142.615C473.359 143.972 475.354 144.298 475.797 145.655C476.094 146.536 475.584 147.495 475.679 148.42C475.749 148.707 475.766 149.003 475.73 149.295C475.603 149.626 475.38 149.911 475.091 150.114C473.236 151.888 471.953 154.175 471.404 156.682C470.864 159.177 470.581 161.72 470.558 164.271L468.367 161.372C468.135 161.02 467.838 160.715 467.493 160.474C467.213 160.306 466.888 160.222 466.602 160.053C465.773 159.582 465.448 158.584 465.128 157.686C464.241 155.202 462.912 152.899 461.206 150.888C460.315 149.839 459.279 148.785 459.083 147.422C459.024 146.796 459.058 146.165 459.183 145.549C459.744 141.875 460.343 138.111 462.131 134.852C462.966 133.326 464.047 131.947 464.848 130.399C465.386 129.372 466.143 126.702 467.577 128.822Z"
                fill="#3F3D56"
              />
              <path
                d="M412.302 132.351C412.312 132.823 412.192 133.289 411.955 133.697C411.74 133.945 411.461 134.129 411.149 134.228C410.836 134.327 410.502 134.337 410.184 134.258C409.546 134.097 408.945 133.815 408.414 133.427C406.852 132.44 405.291 131.451 403.729 130.46C402.858 129.934 402.018 129.357 401.214 128.733C399.985 127.694 398.871 126.526 397.891 125.249C395.168 121.884 392.758 118.233 389.727 115.153C388.903 114.312 388.046 113.504 387.251 112.624C386.163 111.351 385.163 110.005 384.258 108.596C383.384 107.301 382.477 105.865 382.628 104.317C382.718 103.442 383.138 102.634 383.261 101.765C383.384 100.895 383.054 99.835 382.213 99.5994C382.114 99.5744 382.013 99.5575 381.911 99.5489C381.745 99.5313 381.581 99.4956 381.423 99.4424C380.644 99.117 380.762 97.9111 381.322 97.2773C381.883 96.6435 382.712 96.2901 383.222 95.5946C383.459 95.1819 383.725 94.7864 384.017 94.4111C384.393 94.089 384.841 93.8638 385.323 93.7548C388.555 92.8014 391.974 92.6722 395.269 93.379C395.829 93.5024 396.468 93.7268 396.636 94.2708C396.703 94.5359 396.703 94.8135 396.636 95.0785C396.389 96.1845 396.246 97.3113 396.21 98.444C396.209 98.6801 396.222 98.9161 396.249 99.1507C396.513 101.529 398.053 103.543 399.555 105.399C401.337 107.609 403.147 109.802 404.962 111.99C405.944 113.257 407.041 114.431 408.24 115.495C409.361 116.426 410.812 117.178 411.686 118.373C412.397 119.338 412.168 120.656 412.246 121.817C412.507 125.323 412.526 128.842 412.302 132.351Z"
                fill="#3F3D56"
              />
              <path
                d="M483.462 155.751C484.016 155.213 484.515 154.621 484.952 153.984C485.423 153.196 485.8 152.354 486.073 151.477L489.323 142.25C489.838 140.792 490.354 139.328 491.004 137.909C491.676 136.378 492.472 134.903 493.206 133.422C495.094 129.525 496.554 125.434 497.56 121.222C497.736 120.643 497.796 120.035 497.733 119.433C497.576 118.463 496.842 117.705 496.142 117.015C495.438 116.254 494.635 115.59 493.755 115.041C493.313 114.766 492.821 114.582 492.307 114.499C491.794 114.416 491.269 114.436 490.763 114.559C489.328 114.979 488.426 116.449 488.096 117.924C487.765 119.399 487.888 120.908 487.748 122.411C487.547 124.565 486.807 126.646 486.628 128.806C486.533 130.056 486.628 131.318 486.476 132.564C486.201 134.199 485.631 135.77 484.796 137.202C482.975 140.613 480.515 143.641 477.551 146.121C476.738 146.721 476.008 147.424 475.377 148.213C474.85 149.002 474.493 149.892 474.329 150.827C473.957 152.25 474.118 153.76 474.783 155.073C475.696 156.632 477.45 157.316 479.125 157.664C481.389 158.135 481.91 157.361 483.462 155.751Z"
                fill="#BE6F72"
              />
              <path
                d="M440.015 84.8982C440.498 83.9908 441.236 83.2457 442.139 82.7559C443.042 82.2661 444.069 82.0534 445.092 82.1441C446.122 82.3268 447.08 82.7945 447.859 83.4944C448.637 84.1942 449.204 85.0983 449.496 86.1041C449.759 86.9399 449.866 87.8654 450.325 88.5833C451.02 89.6658 452.309 89.9799 453.272 90.7652C453.848 91.3003 454.311 91.9451 454.634 92.6617C454.957 93.3783 455.134 94.1523 455.155 94.9383C455.209 96.5439 454.956 98.1449 454.41 99.6555C454.178 100.3 453.991 100.96 453.849 101.63C453.737 102.281 453.726 102.942 453.625 103.593C453.501 104.437 453.21 105.247 452.768 105.976C452.326 106.705 451.743 107.339 451.053 107.839C450.857 107.999 450.612 108.088 450.359 108.091C449.922 108.041 449.653 107.531 449.49 107.071C448.599 104.496 448.812 101.349 447.17 99.2965C446.424 98.4684 445.521 97.7956 444.515 97.3165C444.104 97.0515 443.642 96.8775 443.159 96.8061C442.448 96.8444 441.765 97.0944 441.198 97.5241C440.015 98.3182 438.703 98.8991 437.32 99.2405C436.63 99.4041 435.913 99.4114 435.219 99.262C434.526 99.1125 433.875 98.8101 433.314 98.3767C432.541 97.7372 431.975 96.7781 431.117 96.2789C430.26 95.7797 429.364 95.8077 428.518 95.4656C427.978 95.236 427.499 94.8862 427.115 94.4429C426.731 93.9997 426.454 93.4745 426.303 92.9076C426.153 92.3406 426.134 91.7468 426.248 91.1714C426.362 90.596 426.605 90.0542 426.96 89.5873C427.52 88.9142 428.35 88.5328 428.848 87.7868C429.493 86.8221 429.437 85.4983 429.745 84.3429C429.927 83.6118 430.281 82.9349 430.777 82.3681C431.273 81.8014 431.897 81.3612 432.597 81.084C433.276 80.8533 434.004 80.8091 434.706 80.9561C435.407 81.1031 436.057 81.4359 436.586 81.9198C437.146 82.4246 437.595 83.0752 438.144 83.6025C438.686 84.122 439.35 84.4969 440.074 84.6929C440.798 84.8889 441.56 84.8997 442.29 84.7243"
                fill="#3F3D56"
              />
              <path
                opacity="0.1"
                d="M449.227 167.457C448.901 167.748 448.669 168.131 448.563 168.555C448.458 168.979 448.482 169.425 448.633 169.836C448.756 170.099 454.539 168.983 455.149 168.899C456.673 168.68 459.346 168.787 460.371 167.39C462.198 164.917 456.539 165.466 455.502 165.556C453.53 165.724 450.728 165.993 449.227 167.457Z"
                fill="black"
              />
              <path
                d="M396.624 95.101C396.377 96.2069 396.235 97.3337 396.199 98.4664C394.518 98.8085 392.769 98.2476 391.156 97.6867L386.522 96.105C386.24 95.9247 385.9 95.8585 385.571 95.92C385.242 95.9815 384.949 96.1659 384.751 96.4359C384.006 97.21 382.981 98.6795 381.95 99.5489C381.784 99.5313 381.62 99.4956 381.462 99.4424C380.683 99.117 380.801 97.9111 381.361 97.2773C381.922 96.6435 382.751 96.2901 383.261 95.5946C383.498 95.1819 383.764 94.7864 384.057 94.4111C384.432 94.089 384.88 93.8638 385.362 93.7548C388.594 92.8014 392.013 92.6722 395.308 93.379C395.868 93.5024 396.507 93.7268 396.675 94.2708C396.729 94.5473 396.712 94.8332 396.624 95.101Z"
                fill="#3F3D56"
              />
              <path
                opacity="0.1"
                d="M396.624 95.101C396.377 96.2069 396.235 97.3337 396.199 98.4664C394.518 98.8085 392.769 98.2476 391.156 97.6867L386.522 96.105C386.24 95.9247 385.9 95.8585 385.571 95.92C385.242 95.9815 384.949 96.1659 384.751 96.4359C384.006 97.21 382.981 98.6795 381.95 99.5489C381.784 99.5313 381.62 99.4956 381.462 99.4424C380.683 99.117 380.801 97.9111 381.361 97.2773C381.922 96.6435 382.751 96.2901 383.261 95.5946C383.498 95.1819 383.764 94.7864 384.057 94.4111C384.432 94.089 384.88 93.8638 385.362 93.7548C388.594 92.8014 392.013 92.6722 395.308 93.379C395.868 93.5024 396.507 93.7268 396.675 94.2708C396.729 94.5473 396.712 94.8332 396.624 95.101Z"
                fill="black"
              />
              <path
                opacity="0.1"
                d="M439.012 201.588C439.819 201.858 440.693 202.25 440.968 203.058L434.479 201.409L431.118 200.551C430.524 200.399 428.394 200.225 428.002 199.76C427.442 199.075 429.431 199.547 429.79 199.597C430.877 199.76 431.964 199.928 433.045 200.124C435.085 200.489 437.046 201.089 439.012 201.588Z"
                fill="black"
              />
              <path
                opacity="0.1"
                d="M441.528 207.338C440.968 206.962 439.359 207.007 438.67 206.844C437.662 206.603 436.67 206.283 435.678 205.975C433.667 205.318 431.672 204.572 429.604 204.09C429.223 204.006 427.923 203.983 427.985 203.501C428.047 203.019 429.285 202.85 429.593 202.828C431.425 202.693 433.711 203.551 435.415 204.163C437.586 204.941 439.642 206.009 441.528 207.338Z"
                fill="black"
              />
              <path
                opacity="0.1"
                d="M437.415 196.462C435.359 195.901 433.493 194.622 431.375 194.375C430.823 194.396 430.28 194.23 429.834 193.904C429.585 193.659 429.412 193.347 429.335 193.006C430.753 192.934 432.4 193.534 433.689 194.1C434.398 194.405 435.081 194.769 435.729 195.188C436.199 195.474 436.905 196.299 437.415 196.462Z"
                fill="black"
              />
              <path
                d="M476.615 146.238C476.267 148.57 476.77 150.95 478.032 152.941C479.293 154.932 481.229 156.401 483.485 157.081C483.21 158.41 481.837 159.145 480.868 160.093C479.501 161.422 478.795 163.413 477.181 164.423C475.382 165.545 473.068 165.107 471.018 164.636C470.831 164.615 470.659 164.525 470.536 164.384C470.493 164.316 470.463 164.242 470.446 164.165C469.768 161.68 469.325 159.027 470.02 156.537C470.581 154.416 471.925 152.61 473.001 150.737C474.077 148.863 474.178 146.855 476.615 146.238Z"
                fill="#3F3D56"
              />
              <path
                d="M426.517 114.076C424.349 114.234 422.243 114.876 420.354 115.955C419.099 116.673 417.81 117.638 416.376 117.464C415.53 117.369 414.695 116.903 413.871 117.128C413.407 117.315 412.974 117.572 412.588 117.89C412.392 118.047 412.159 118.149 411.911 118.189C411.664 118.228 411.411 118.203 411.176 118.115L410.616 125.878C410.403 128.828 410.195 131.84 410.901 134.718C411.266 136.187 412.067 137.522 412.156 139.014C412.246 140.506 412.112 142.037 412.218 143.546C412.319 144.943 412.627 146.317 412.706 147.714C412.862 150.35 412.213 152.964 411.585 155.527C410.638 159.307 410.066 163.172 408.223 166.594C407.708 167.542 407.102 168.506 407.102 169.583C407.102 169.718 407.102 169.847 407.136 169.976C406.576 170.284 406.055 170.576 405.578 170.879C404.514 171.569 403.376 172.337 402.939 173.532C402.586 174.502 402.749 175.613 402.323 176.55C401.897 177.486 400.922 178.154 400.709 179.163C400.558 179.898 400.849 180.672 400.709 181.407C400.582 181.787 400.479 182.175 400.401 182.568C400.345 183.409 401.057 184.088 401.763 184.548C402.792 185.227 403.929 185.728 405.125 186.029L408.47 172.735C411.519 167.091 414.057 161.183 416.051 155.084C416.621 153.09 417.354 151.147 418.241 149.273C418.876 148.213 419.437 147.111 419.922 145.975C420.432 144.561 420.483 143.03 420.729 141.538C421.022 139.797 421.462 138.083 422.046 136.417C422.651 134.617 423.352 132.822 423.475 130.931C423.66 128.228 422.679 125.373 423.721 122.871C424.164 121.935 424.739 121.068 425.43 120.297C426.876 118.524 428.193 116.668 429.638 114.895C428.887 114.093 427.638 114.009 426.517 114.076Z"
                fill="#3F3D56"
              />
              <g opacity="0.1">
                <path
                  opacity="0.1"
                  d="M442.307 83.0528L441.607 83.1033L441.528 83.1594C441.791 83.1487 442.052 83.113 442.307 83.0528Z"
                  fill="black"
                />
                <path
                  opacity="0.1"
                  d="M455.127 94.6971C455.01 95.8123 454.77 96.9109 454.41 97.9728C454.178 98.6174 453.991 99.277 453.849 99.9472C453.737 100.598 453.726 101.26 453.625 101.91C453.501 102.754 453.21 103.564 452.768 104.293C452.326 105.023 451.743 105.656 451.054 106.156C450.857 106.317 450.612 106.406 450.359 106.409C449.922 106.358 449.653 105.848 449.49 105.388C448.599 102.813 448.812 99.6667 447.171 97.6138C446.424 96.7857 445.521 96.1129 444.515 95.6338C444.104 95.3688 443.642 95.1948 443.159 95.1234C442.448 95.1617 441.765 95.4117 441.198 95.8414C440.015 96.6355 438.703 97.2164 437.32 97.5577C436.63 97.7213 435.913 97.7287 435.22 97.5793C434.526 97.4298 433.875 97.1274 433.314 96.6939C432.541 96.0545 431.975 95.0954 431.118 94.5962C430.26 94.097 429.364 94.125 428.518 93.7829C427.989 93.5569 427.518 93.2147 427.14 92.7816C426.762 92.3485 426.486 91.8357 426.332 91.2812C426.313 91.2113 426.298 91.1401 426.288 91.0681C426.148 91.6942 426.163 92.3452 426.332 92.964C426.486 93.5184 426.762 94.0312 427.14 94.4643C427.518 94.8974 427.989 95.2396 428.518 95.4656C429.364 95.8077 430.316 95.8133 431.118 96.2789C431.919 96.7444 432.541 97.7372 433.314 98.3767C433.875 98.8101 434.526 99.1125 435.22 99.262C435.913 99.4114 436.63 99.4041 437.32 99.2405C438.703 98.8991 440.015 98.3182 441.198 97.5241C441.765 97.0944 442.448 96.8444 443.159 96.8061C443.642 96.8775 444.104 97.0515 444.515 97.3165C445.509 97.8049 446.398 98.4833 447.131 99.3134C448.773 101.366 448.56 104.513 449.451 107.087C449.614 107.553 449.882 108.058 450.32 108.108C450.589 108.11 450.849 108.014 451.054 107.839C451.746 107.337 452.331 106.702 452.774 105.969C453.217 105.237 453.508 104.423 453.631 103.576C453.732 102.926 453.743 102.264 453.855 101.613C453.997 100.943 454.184 100.283 454.415 99.6387C454.961 98.1281 455.214 96.527 455.161 94.9215C455.149 94.8542 455.138 94.7757 455.127 94.6971Z"
                  fill="black"
                />
              </g>
              <path
                d="M419.676 139.704L419.295 144.825C419.239 145.52 417.911 162.078 408.117 181.429C399.712 198.027 383.356 219.644 352.477 231.793C350.068 232.746 347.567 233.636 344.975 234.463L342.083 225.376C349.342 223.089 356.334 220.028 362.938 216.245C378.678 207.147 390.915 194.162 399.449 177.453C403.976 168.556 407.203 159.055 409.03 149.239H373.898V139.704H419.676Z"
                fill="#6C63FF"
              />
              <path
                opacity="0.1"
                d="M348.695 231.799C379.568 219.649 395.93 198.038 404.329 181.441C414.123 162.09 415.457 145.543 415.507 144.836L415.888 139.715H419.81L419.429 144.836C419.379 145.532 418.045 162.09 408.251 181.441C399.846 198.038 383.491 219.649 352.617 231.799C350.208 232.752 347.705 233.644 345.109 234.474L344.728 233.279C346.08 232.797 347.403 232.303 348.695 231.799Z"
                fill="white"
              />
              <path
                d="M286.881 225.376L283.99 234.463C281.394 233.633 278.891 232.741 276.482 231.787C245.608 219.638 229.247 198.027 220.848 181.429C211.054 162.078 209.72 145.532 209.67 144.825L209.289 139.704H255.044V149.239H219.907C221.743 159.056 224.979 168.557 229.516 177.453C238.05 194.162 250.281 207.147 266.02 216.239C272.626 220.026 279.62 223.09 286.881 225.376Z"
                fill="#6C63FF"
              />
              <path
                opacity="0.1"
                d="M280.258 231.799C249.385 219.649 233.024 198.038 224.625 181.441C214.83 162.09 213.497 145.543 213.446 144.836L213.065 139.715H209.143L209.524 144.836C209.575 145.532 210.908 162.09 220.702 181.441C229.107 198.038 245.463 219.649 276.336 231.799C278.745 232.752 281.248 233.644 283.844 234.474L284.225 233.279C282.877 232.797 281.554 232.303 280.258 231.799Z"
                fill="white"
              />
              <path
                d="M367.337 313.213V364.631H261.622V313.213L264.984 308.726C299.242 296.555 306.184 264.813 307.568 252.255C307.774 250.519 307.892 248.774 307.921 247.027H320.993C321.022 248.774 321.14 250.519 321.346 252.255C322.752 264.813 329.695 296.566 363.93 308.726L367.337 313.213Z"
                fill="#6C63FF"
              />
              <path
                opacity="0.1"
                d="M367.337 313.213H261.622V319.664H367.337V313.213Z"
                fill="black"
              />
              <path
                opacity="0.1"
                d="M270.587 308.726C304.845 296.555 311.787 264.813 313.171 252.255C313.377 250.519 313.495 248.774 313.524 247.027H307.921C307.892 248.774 307.774 250.519 307.568 252.255C306.161 264.813 299.219 296.566 264.984 308.726L261.622 313.213V364.631H267.225V313.213L270.587 308.726Z"
                fill="white"
              />
              <path
                opacity="0.1"
                d="M245.563 139.704H255.044V149.239H246.404C246.064 146.098 245.784 142.92 245.563 139.704Z"
                fill="black"
              />
              <path
                opacity="0.1"
                d="M286.881 225.376L283.99 234.463C281.394 233.633 278.891 232.741 276.482 231.787C272.518 226.942 269.016 221.737 266.021 216.239C272.626 220.026 279.62 223.09 286.881 225.376Z"
                fill="black"
              />
              <path
                opacity="0.1"
                d="M342.078 225.376C349.336 223.089 356.328 220.028 362.933 216.245C359.935 221.743 356.433 226.95 352.471 231.798C350.062 232.752 347.561 233.642 344.969 234.468L342.078 225.376Z"
                fill="black"
              />
              <path
                opacity="0.1"
                d="M383.39 139.704C383.17 142.92 382.889 146.098 382.549 149.239H373.915V139.704H383.39Z"
                fill="black"
              />
              <path
                opacity="0.1"
                d="M321.368 252.255C316.818 253.137 312.141 253.137 307.59 252.255C307.796 250.519 307.914 248.774 307.943 247.027H321.015C321.045 248.774 321.162 250.519 321.368 252.255Z"
                fill="black"
              />
              <path
                d="M246.684 123.909C246.925 194.616 277.182 251.795 314.482 251.795C351.782 251.795 382.034 194.616 382.28 123.909H246.684Z"
                fill="#6C63FF"
              />
              <path
                opacity="0.1"
                d="M258.731 123.909H246.684C246.925 194.616 277.182 251.795 314.482 251.795C316.501 251.791 318.515 251.62 320.506 251.284C286.024 245.518 258.961 190.768 258.731 123.909Z"
                fill="white"
              />
              <path
                d="M350.432 332.896H278.527V351.405H350.432V332.896Z"
                fill="#3F3D56"
              />
              <path
                opacity="0.1"
                d="M281.889 335.42H350.432V332.896H278.527V351.405H281.889V335.42Z"
                fill="white"
              />
              <path
                d="M208.336 192.176C207.042 191.744 199.422 185.709 198.844 182.978C198.267 180.246 202.873 154.798 202.873 154.798C202.873 154.798 202.447 154.798 201.752 154.714V154.304L202.699 120.874C202.699 120.874 206.582 98.4383 199.248 99.7452C191.913 101.052 196.513 120.874 196.513 120.874C196.513 120.874 195.679 130.937 195.09 133.955C194.53 136.866 191.964 148.723 193.712 152.408C193.776 152.539 193.847 152.667 193.925 152.79C193.925 152.79 194.216 165.438 191.05 167.166C188.03 168.809 186.775 177.082 186.669 177.823L186.506 177.756C185.605 177.191 184.813 176.467 184.17 175.618C184.103 175.534 184.052 175.445 183.99 175.355C186.052 173.033 187.163 170.019 187.102 166.913C187.04 163.807 185.811 160.839 183.66 158.601C182.659 157.561 181.486 156.703 180.192 156.065C180.154 154.994 179.9 153.941 179.446 152.969C177.989 149.851 169.921 145.773 164.189 145.678C161.544 145.599 159.376 146.351 158.586 148.42C158.182 149.469 158.306 150.664 158.138 151.752C157.801 153.996 156.361 155.751 154.512 157.148C153.766 156.314 152.958 155.536 152.097 154.82C150.226 153.384 146.494 148.65 146.494 148.65C146.494 148.65 134.845 136.574 133.982 133.265C133.119 129.955 121.482 110.083 118.893 113.543C116.304 117.004 127.808 132.087 127.808 132.087C127.808 132.087 129.993 137.567 131.674 139.418C133.355 141.269 146.242 160.003 146.242 160.003L146.858 161.282C144.135 162.718 141.647 164.546 140.768 167.396C139.479 171.591 142.297 175.809 144.247 179.736C148.046 187.397 148.59 197.168 143.687 204.168C139.294 210.35 131.674 213.289 124.541 215.858C127.986 218.565 132.265 219.988 136.644 219.879C134.997 224.658 129.158 226.24 124.182 227.126C126.794 229.639 130.531 230.553 134.117 231.109C135.873 231.408 137.653 231.549 139.434 231.529H139.871L140.308 231.496C140.916 231.455 141.52 231.378 142.118 231.266C144.707 230.738 147.223 229.325 148.545 227.036C149.666 225.079 150.058 222.409 152.092 221.427C152.621 221.188 153.192 221.053 153.773 221.029H153.711C154.092 221.029 154.484 221.029 154.865 221.029L163.343 221.113C163.696 221.113 164.06 221.113 164.424 221.113C166.817 221.057 169.372 220.642 170.588 218.662C171.088 217.701 171.351 216.633 171.355 215.549C171.535 212.862 171.355 210.097 171.428 207.388C172.151 212.318 172.907 220.003 171.109 222.841C169.648 224.991 167.876 226.914 165.853 228.545C165.344 228.973 164.879 229.45 164.463 229.97C164.189 230.166 164.026 230.273 164.026 230.273L163.853 230.794C163.214 231.764 162.751 232.839 162.486 233.969C162.388 234.259 162.352 234.567 162.379 234.872C162.575 235.27 160.978 236.914 161.443 237.604C157.454 242.287 156.698 249.383 156.698 249.383L149.413 260.455C145.671 270.299 140.067 271.308 140.067 271.308C140.067 271.308 126.906 262.469 126.547 262.037C126.188 261.605 121.157 259.445 121.157 259.445C120.564 258.404 119.658 257.576 118.568 257.078C116.842 256.36 116.697 253.713 116.697 253.713C116.484 247.459 112.814 246.982 112.814 246.982C109.855 246.73 107.597 247.257 105.86 248.222L105.333 248.261C102.79 248.468 99.7303 248.698 96.3684 248.923C87.0168 249.54 84.7923 255.603 84.7923 255.603C84.7923 255.603 83.6437 256.899 85.1509 258.301C86.6582 259.703 96.3068 258.301 96.7158 258.267C95.9805 258.347 95.2369 258.296 94.5194 258.116C96.0379 258.06 98.1278 258.004 99.9096 258.004H100.341C100.229 258.949 100.175 259.901 100.179 260.853C100.179 262.648 105.137 263.798 105.137 263.798L120.238 277.26C120.238 277.26 129.73 281.506 135.77 287.614C141.81 293.722 147.15 288.45 147.15 288.45C153.543 286.868 171.938 264.606 171.955 264.583C171.955 265.234 172.342 286.885 173.076 291.232C173.105 291.452 173.159 291.669 173.238 291.877C174.101 293.745 172.947 298.849 172.448 301.003C172.13 302.805 172.008 304.637 172.084 306.466C172.084 306.466 165.186 332.828 165.758 335.145C166.329 337.461 162.021 348.225 162.021 348.225V357.199L162.771 357.16C162.674 357.305 162.584 357.455 162.502 357.609L162.452 357.704C162.452 357.704 167.052 358.708 170.145 358.422C173.238 358.136 178.55 360.806 178.55 360.806C178.55 360.806 180.348 361.659 185.884 362.018C191.42 362.376 191.42 359.572 191.42 359.572C190.787 355.752 182.041 354.473 181.772 354.434C181.066 353.991 180.404 353.509 179.861 353.094L179.749 353.004C179.786 352.92 179.817 352.834 179.844 352.746C180.78 348.932 175.603 347.277 175.603 347.277V346.346C178.964 344.618 179.631 332.761 179.631 332.761C179.631 332.761 184.674 318.099 185.38 315.653C186.086 313.208 185.38 309.545 185.38 309.545L185.884 306.382C185.884 306.382 186.966 304.228 186.966 303.796C187.106 302.701 187.527 301.662 188.187 300.778C188.977 299.842 187.324 297.615 187.324 297.615L188.764 293.879V289.779L192.126 274.904C192.126 274.904 195.651 257.578 194.429 251.907C193.208 246.236 195.869 243.353 195.869 243.353C195.629 243.479 195.382 243.592 195.13 243.69C195.466 242.911 195.756 242.113 195.998 241.3L203.562 242.237V242.349H206.291C206.291 242.349 205.428 231.692 205.428 227.395C205.428 223.099 208.336 207.68 208.336 207.68C208.336 207.68 209.63 192.608 208.336 192.176ZM174.756 179.736C174.756 180.156 174.717 180.594 174.689 181.042L174.538 181.272L174.258 181.037L173.916 181.57L173.815 181.62C173.076 181.239 172.695 179.057 172.162 179.528L172.089 179.59C171.972 179.455 171.854 179.416 171.731 179.528L171.619 179.623C171.619 179.461 171.619 179.292 171.619 179.124C172.644 179.388 173.698 179.522 174.756 179.522C174.762 179.595 174.756 179.668 174.756 179.736ZM199.915 229.364H200.077L199.808 230.071C199.842 229.835 199.875 229.605 199.915 229.364ZM172.297 356.56L171.266 356.302L171.826 356.207L172.347 356.549L172.409 356.594L172.297 356.56ZM182.831 355.051C182.489 354.872 182.141 354.664 181.805 354.451C181.917 354.513 182.36 354.743 182.831 355.051Z"
                fill="url(#paint1_linear)"
              />
              <path
                d="M203.635 218.769L196.85 236.471H198.497L192.115 241.564L203.635 243V218.769Z"
                fill="#F86D70"
              />
              <path
                opacity="0.1"
                d="M203.635 218.769L196.85 236.471L195.141 236.011L192.115 241.564L203.635 243V218.769Z"
                fill="black"
              />
              <path
                d="M192.995 230.093H203.635L207.54 197.926H192.995V230.093Z"
                fill="#F86D70"
              />
              <path
                opacity="0.1"
                d="M192.995 230.093H203.635L207.54 197.926H192.995V230.093Z"
                fill="black"
              />
              <path
                d="M172.213 205.543L174.51 205.156L179.788 204.258C179.788 204.258 195.639 200.68 198.912 200.388C200.894 200.126 202.827 199.574 204.649 198.75C205.507 198.38 206.05 198.099 206.05 198.099L200.34 187.661L191.482 181.087C191.482 181.087 185.879 179.893 183.509 176.628C182.98 175.926 182.635 175.102 182.507 174.231C182.379 173.361 182.471 172.473 182.775 171.647C184.22 167.16 174.14 175.938 174.14 175.938C174.14 175.938 174.235 178.042 174.14 180.723C174.14 181.25 174.09 181.8 174.051 182.361C174.051 182.731 174 183.101 173.961 183.482C173.714 186.147 173.21 188.889 172.213 190.527C169.775 194.532 172.213 205.543 172.213 205.543Z"
                fill="#FBBEBE"
              />
              <path
                opacity="0.1"
                d="M174.14 180.947H174.364C174.768 180.947 175.093 180.089 175.485 180.05C178.639 179.747 181.519 179.085 183.52 176.847C182.992 176.145 182.649 175.322 182.521 174.453C182.392 173.584 182.483 172.696 182.786 171.872C184.231 167.384 174.151 176.157 174.151 176.157C174.151 176.157 174.258 178.266 174.14 180.947Z"
                fill="black"
              />
              <path
                d="M161.869 168.226C161.868 169.841 162.186 171.44 162.803 172.932C163.42 174.424 164.324 175.779 165.465 176.921C166.605 178.063 167.96 178.969 169.45 179.586C170.941 180.204 172.538 180.522 174.151 180.521C174.555 180.521 174.952 180.521 175.35 180.465C177.717 180.232 179.965 179.317 181.822 177.83C183.679 176.344 185.065 174.349 185.812 172.089C186.559 169.829 186.634 167.401 186.029 165.099C185.423 162.797 184.164 160.72 182.402 159.121C180.641 157.522 178.453 156.469 176.106 156.09C173.758 155.711 171.351 156.023 169.177 156.987C167.003 157.951 165.155 159.526 163.858 161.521C162.56 163.516 161.87 165.845 161.869 168.226Z"
                fill="#FBBEBE"
              />
              <path
                d="M158.098 149.565C157.695 150.608 157.818 151.775 157.656 152.88C157.056 156.868 153.005 159.257 149.34 160.928C145.676 162.6 141.541 164.58 140.375 168.433C139.098 172.601 141.888 176.78 143.827 180.689C147.603 188.306 148.141 198.021 143.267 204.987C138.935 211.157 131.388 214.085 124.283 216.654C127.703 219.347 131.952 220.763 136.302 220.659C134.671 225.41 128.872 226.986 123.93 227.861C126.524 230.363 130.239 231.271 133.797 231.821C136.392 232.225 139.053 232.488 141.642 231.967C144.23 231.445 146.685 230.037 148.018 227.76C149.139 225.814 149.52 223.161 151.542 222.179C152.456 221.819 153.439 221.675 154.417 221.758L162.822 221.848C165.438 221.848 168.537 221.646 169.887 219.408C170.385 218.452 170.647 217.39 170.649 216.312C171.013 210.793 169.954 204.959 172.224 199.922C172.907 198.402 168.52 195.996 168.979 194.386C170.56 188.85 170.957 184.492 170.941 178.732C170.941 174.272 173.837 170.43 176.23 166.667C178.622 162.903 180.623 158.152 178.735 154.114C176.605 149.609 160.614 143.064 158.098 149.565Z"
                fill="#3F3D56"
              />
              <path
                d="M169.288 354.945L171.428 356.364L171.759 356.582L171.821 356.622L174.359 358.304L180.287 359.303L185.498 358.944C185.498 358.944 187 355.803 184.641 355.876C183.885 355.837 183.149 355.624 182.489 355.253L182.164 355.09C181.822 354.911 181.481 354.709 181.144 354.496C180.444 354.053 179.783 353.57 179.25 353.161C178.466 352.555 177.945 352.095 177.945 352.095L169.288 354.945Z"
                fill="#FBBEBE"
              />
              <path
                opacity="0.1"
                d="M171.456 356.364L171.787 356.582L171.848 356.622L174.387 358.304L180.315 359.303L185.526 358.944C185.526 358.944 187.027 355.803 184.668 355.876C183.913 355.837 183.176 355.624 182.517 355.253C182.931 355.578 183.279 355.932 183.312 356.229C183.408 357.031 179.457 358.473 179.457 358.473L173.888 356.998C173.888 356.998 172.941 356.728 171.647 356.392L171.523 356.358L171.456 356.364Z"
                fill="black"
              />
              <path
                d="M161.931 357.732C161.931 357.732 166.498 358.731 169.568 358.445C172.639 358.159 177.928 360.806 177.928 360.806C177.928 360.806 179.716 361.647 185.212 362.006C190.709 362.365 190.709 359.572 190.709 359.572C190.081 355.775 181.397 354.524 181.128 354.468C181.234 354.524 181.688 354.754 182.147 355.062C182.764 355.466 183.43 355.993 183.481 356.42C183.576 357.216 179.626 358.663 179.626 358.663L174.056 357.194C174.056 357.194 173.109 356.919 171.815 356.582H171.692C169.773 356.059 167.823 355.656 165.853 355.376C163.455 355.118 162.228 357.16 161.976 357.62C161.958 357.656 161.943 357.694 161.931 357.732Z"
                fill="#3F3D56"
              />
              <path
                d="M89.9531 256.865L92.3793 258.727C92.3793 258.727 93.0853 258.694 94.1387 258.66H94.4749C95.9821 258.604 98.0609 258.548 99.8259 258.548C100.967 258.497 102.11 258.56 103.238 258.739C104.448 259.165 106.6 251.806 106.6 251.806L104.168 251.245L103.361 251.054L102.801 250.92L100.823 250.454L94.8279 251.138L90.6143 253.853L89.9531 256.865Z"
                fill="#FBBEBE"
              />
              <path
                opacity="0.1"
                d="M89.9531 256.865L92.3793 258.727C92.3793 258.727 93.0853 258.694 94.1387 258.66C93.6553 258.473 93.2567 258.116 93.018 257.656C91.4492 253.298 99.2319 251.436 99.2319 251.436L102.857 251.279L103.563 251.245H104.123L103.317 251.054L102.756 250.92L100.778 250.454L94.783 251.138L90.5695 253.853L89.9531 256.865Z"
                fill="black"
              />
              <path
                d="M85.1676 258.834C86.6356 260.191 96.2506 258.834 96.654 258.8C95.9243 258.883 95.1858 258.831 94.4744 258.649C94.1222 258.586 93.7886 258.445 93.4978 258.236C93.2069 258.027 92.9663 257.757 92.7935 257.443C91.2246 253.079 99.0074 251.223 99.0074 251.223L102.633 251.065L103.333 251.032L112.147 250.65L112.573 248.222C112.573 248.222 109.709 248.491 105.216 248.85C102.689 249.057 99.6125 249.287 96.2898 249.506C87.0054 250.123 84.7978 256.153 84.7978 256.153C84.7978 256.153 83.6715 257.443 85.1676 258.834Z"
                fill="#3F3D56"
              />
              <path
                d="M193.001 153.553C193.06 153.686 193.132 153.813 193.214 153.934L195.354 157.075L200.923 157.636L200.985 155.426L201.921 122.176C201.921 122.176 205.776 99.8743 198.492 101.159C191.208 102.443 195.78 122.176 195.78 122.176C195.78 122.176 194.951 132.182 194.368 135.189C193.802 138.094 191.264 149.907 193.001 153.553Z"
                fill="#FBBEBE"
              />
              <path
                d="M180.5 236.14L182.085 238.855L185.632 244.929C185.632 244.929 192.064 247.291 193.712 245.49C194.614 244.509 195.589 241.081 196.272 238.198C196.833 235.865 197.208 233.896 197.208 233.896L180.5 236.14Z"
                fill="#FBBEBE"
              />
              <path
                opacity="0.1"
                d="M180.5 236.14L182.085 238.855C182.185 238.769 182.275 238.673 182.354 238.569C184.147 236.28 192.042 238.081 196.272 238.226C196.833 235.893 197.208 233.924 197.208 233.924L180.5 236.14Z"
                fill="black"
              />
              <path
                opacity="0.1"
                d="M99.8257 258.537C100.967 258.485 102.11 258.549 103.238 258.727C104.448 259.154 106.6 251.795 106.6 251.795L103.361 251.032L112.175 250.65L112.601 248.222C112.601 248.222 109.738 248.491 105.244 248.85C104.315 249.385 103.487 250.078 102.795 250.897L102.661 251.065C100.784 253.371 100.089 256.344 99.8257 258.537Z"
                fill="black"
              />
              <path
                opacity="0.1"
                d="M169.288 354.945L171.759 356.582C175.446 355.915 178.813 354.866 179.211 353.217C179.213 353.191 179.213 353.165 179.211 353.139C178.427 352.533 177.906 352.073 177.906 352.073L169.288 354.945Z"
                fill="black"
              />
              <path
                opacity="0.1"
                d="M161.981 357.637C165.237 357.475 168.481 357.127 171.697 356.594C169.777 356.066 167.825 355.66 165.853 355.376C163.461 355.118 162.234 357.16 161.981 357.637Z"
                fill="black"
              />
              <path
                d="M100.095 261.369C100.095 263.159 105.02 264.303 105.02 264.303L120.02 277.669C120.02 277.669 129.444 281.887 135.439 287.962C141.435 294.036 146.724 288.82 146.724 288.82C153.078 287.249 171.378 265.088 171.378 265.088C171.378 265.088 171.804 290.396 172.661 292.253C173.518 294.109 172.375 299.185 171.877 301.334C171.562 303.125 171.442 304.946 171.518 306.763C171.518 306.763 164.665 332.996 165.237 335.285C165.808 337.573 161.522 348.298 161.522 348.298V357.233C161.522 357.233 178.303 356.588 179.228 352.802C180.152 349.016 175.02 347.367 175.02 347.367V346.436C178.382 344.719 179.015 332.929 179.015 332.929C179.015 332.929 184.019 318.346 184.73 315.917C185.442 313.488 184.73 309.837 184.73 309.837L185.229 306.696C185.229 306.696 186.299 304.548 186.299 304.121C186.439 303.033 186.858 301.999 187.515 301.12C188.299 300.189 186.658 297.974 186.658 297.974L188.087 294.255V290.183L191.448 275.386C191.448 275.386 194.95 258.155 193.735 252.507C192.519 246.859 195.163 244.004 195.163 244.004C189.431 247.01 186.54 240.319 185.593 237.441C185.352 236.701 185.235 236.207 185.235 236.207C185.235 236.207 177.362 233.302 170.033 233.997C168.545 234.118 167.078 234.429 165.668 234.923C157.527 237.856 156.244 250.005 156.244 250.005L149.033 261.016C145.318 270.809 139.748 271.808 139.748 271.808C139.748 271.808 126.682 263.018 126.301 262.586C125.92 262.155 120.944 260.012 120.944 260.012C120.356 258.975 119.456 258.151 118.372 257.656C116.658 256.938 116.518 254.291 116.518 254.291C116.305 248.07 112.663 247.56 112.663 247.56C100.022 246.505 100.095 259.586 100.095 261.369Z"
                fill="#3F3D56"
              />
              <path
                d="M172.79 226.419H180.5V202.475H172.79V226.419Z"
                fill="#F86D70"
              />
              <path
                opacity="0.1"
                d="M172.79 226.419H180.5V202.475H172.79V226.419Z"
                fill="black"
              />
              <path
                opacity="0.1"
                d="M192.995 153.502C192.993 153.519 192.993 153.536 192.995 153.553C193.054 153.686 193.125 153.813 193.207 153.934L195.348 157.075L200.917 157.636L200.979 155.426C199.242 155.291 195.286 154.815 192.995 153.502Z"
                fill="black"
              />
              <path
                d="M193.213 153.934C193.213 153.934 193.499 166.509 190.356 168.226C187.212 169.942 185.991 178.883 185.991 178.883C185.991 178.883 195.516 185.154 197.64 187.914C199.763 190.673 204.638 197.247 203.635 198.817C202.632 200.388 206.067 207.539 206.067 207.539C206.067 207.539 199.78 220.407 201.209 225.27C202.638 230.133 202.778 242.994 202.778 242.994H205.495C205.495 242.994 204.638 232.416 204.638 228.125C204.638 223.834 207.49 208.538 207.49 208.538C207.49 208.538 208.779 193.528 207.49 193.102C206.201 192.676 198.637 186.668 198.065 183.948C197.494 181.228 202.066 155.903 202.066 155.903C202.066 155.903 196.211 155.65 193.213 153.934Z"
                fill="#F86D70"
              />
              <path
                opacity="0.1"
                d="M172.644 200.253C172.905 202.003 173.541 203.676 174.51 205.156L179.788 204.258C179.788 204.258 195.639 200.68 198.912 200.388C200.894 200.126 202.827 199.574 204.649 198.75C203.393 194.295 200.942 190.27 197.561 187.111L195.55 185.244C192.586 182.489 189.15 180.29 185.408 178.754C185.643 178.95 202.273 193.164 198.631 195.951C194.989 198.739 185.184 191.952 185.184 191.952L174.034 182.361L173.63 182.013L172.986 183.017C173.314 183.152 173.634 183.305 173.944 183.477C177.744 185.565 180.564 189.074 181.788 193.236C184.08 200.949 172.644 200.253 172.644 200.253Z"
                fill="black"
              />
              <path
                d="M169.215 235.994C169.215 235.994 179.782 241.855 182.349 238.569C182.909 237.845 184.091 237.531 185.565 237.447C185.324 236.706 185.206 236.213 185.206 236.213C185.206 236.213 177.334 233.307 170.005 234.003C169.523 235.214 169.215 235.994 169.215 235.994Z"
                fill="#444053"
              />
              <path
                d="M174.078 182.024L185.632 191.974C185.632 191.974 195.398 198.784 199.08 195.974C202.761 193.164 185.851 178.771 185.851 178.771C189.585 180.312 193.017 182.503 195.987 185.244L197.998 187.111C203.288 192.019 204.481 192.019 204.66 199.233C204.705 201.011 204.1 203.563 203.635 204.023C201.92 205.705 200.721 217.927 200.985 219.358C201.248 220.788 197.791 233.133 198.912 236.566C200.032 239.999 184.904 234.85 182.343 238.142C179.782 241.435 169.215 235.568 169.215 235.568C169.215 235.568 175.07 220.552 176.499 219.554C177.928 218.556 179.642 210.832 176.499 207.259C173.356 203.686 173.075 200.253 173.075 200.253C173.075 200.253 184.506 200.96 182.214 193.248C181.569 191.012 180.451 188.942 178.935 187.179C177.419 185.415 175.541 183.999 173.428 183.028L174.078 182.024Z"
                fill="#E8E8F0"
              />
              <path
                opacity="0.1"
                d="M189.498 207.332C189.498 207.332 185.066 215.695 179.334 217.866C179.149 217.933 178.97 217.995 178.774 218.051C172.79 219.874 189.947 209.923 189.498 207.332Z"
                fill="black"
              />
              <path
                d="M127.516 133.343C127.516 133.343 129.657 138.778 131.371 140.635C133.086 142.492 145.794 161.08 145.794 161.08L146.87 163.324L147.794 165.236L155.936 164.378L156.496 161.091L156.182 160.71C155.364 159.728 153.134 157.092 151.638 155.942C149.783 154.517 146.068 149.8 146.068 149.8C146.068 149.8 134.504 137.786 133.646 134.499C132.789 131.212 121.219 111.502 118.652 114.912C116.086 118.322 127.516 133.343 127.516 133.343Z"
                fill="#FBBEBE"
              />
              <g opacity="0.1">
                <path
                  opacity="0.1"
                  d="M151.139 221.758C150.162 221.674 149.178 221.816 148.265 222.173C146.247 223.155 145.866 225.808 144.746 227.754C143.435 230.032 140.936 231.44 138.364 231.961C137.853 232.06 137.336 232.132 136.817 232.174C138.455 232.334 140.108 232.262 141.726 231.961C144.298 231.44 146.797 230.032 148.108 227.754C149.228 225.808 149.609 223.155 151.627 222.173C152.156 221.935 152.727 221.801 153.307 221.781L151.139 221.758Z"
                  fill="black"
                />
                <path
                  opacity="0.1"
                  d="M171.041 178.732C171.041 174.272 173.938 170.43 176.325 166.667C178.712 162.903 180.718 158.152 178.83 154.114C177.216 150.664 167.489 146.037 161.875 146.951C167.371 147.663 174.145 151.287 175.468 154.114C177.356 158.152 175.35 162.903 172.963 166.667C170.576 170.43 167.668 174.272 167.679 178.732C167.679 184.486 167.293 188.828 165.713 194.386C165.259 195.985 169.635 198.402 168.962 199.917C166.688 204.965 167.752 210.787 167.388 216.306C167.38 217.385 167.117 218.446 166.62 219.403C165.5 221.248 163.202 221.725 160.967 221.826H162.922C165.533 221.826 168.632 221.624 169.982 219.386C170.479 218.429 170.742 217.368 170.75 216.29C171.114 210.77 170.049 204.943 172.324 199.9C173.008 198.386 168.621 195.974 169.075 194.369C170.655 188.85 171.052 184.486 171.041 178.732Z"
                  fill="black"
                />
              </g>
              <path
                opacity="0.1"
                d="M146.87 163.312L147.794 165.225L155.936 164.367L156.496 161.08L156.182 160.699C155.314 161.125 148.808 164.26 146.87 163.312Z"
                fill="black"
              />
              <path
                opacity="0.1"
                d="M176.93 184.812C176.93 184.812 174.93 181.671 173.787 182.523C172.644 183.376 172.201 179.949 171.546 180.521C170.89 181.093 168.979 182.686 168.184 180.459C167.562 178.687 160.793 167.474 158.048 162.965C157.342 161.798 156.899 161.08 156.899 161.08C156.899 161.08 149.189 164.939 147.334 163.654V166.369L148.903 166.515L157.308 182.22C157.308 182.22 159.953 186.433 159.773 187.902C159.594 189.372 163.163 195.805 163.735 196.232C164.306 196.658 170.459 203.809 170.459 203.809C170.459 203.809 173.602 219.251 170.884 223.542C168.167 227.833 163.46 230.974 163.46 230.974C163.46 230.974 162.043 235.119 162.25 235.551C162.457 235.983 160.603 237.839 161.46 238.412C162.317 238.984 163.46 242.983 163.46 242.983C163.46 242.983 167.461 236.549 169.624 235.551C171.787 234.553 174.555 221.394 174.555 221.394C174.555 221.394 175.345 213.642 175.406 208.639C175.468 203.636 175.216 184.812 176.93 184.812Z"
                fill="black"
              />
              <path
                d="M176.499 184.812C176.499 184.812 174.504 181.671 173.361 182.523C172.218 183.376 171.77 179.949 171.12 180.521C170.47 181.093 168.56 182.686 167.758 180.459C167.131 178.687 160.362 167.474 157.622 162.965L156.474 161.08C156.474 161.08 148.764 164.939 146.903 163.654V166.369L148.478 166.515L156.883 182.22C156.883 182.22 159.533 186.433 159.348 187.902C159.163 189.372 162.71 195.805 163.309 196.232C163.909 196.658 170.033 203.809 170.033 203.809C170.033 203.809 173.177 219.251 170.465 223.542C169.032 225.697 167.289 227.629 165.293 229.274C163.616 230.659 162.436 232.554 161.931 234.67C161.834 234.959 161.799 235.265 161.83 235.568C162.037 235.994 160.183 237.856 161.04 238.428C161.897 239.001 163.052 243.017 163.052 243.017C163.052 243.017 167.052 236.583 169.215 235.585C171.378 234.586 174.151 221.427 174.151 221.427C174.151 221.427 174.936 213.676 175.003 208.672C175.07 203.669 174.818 184.812 176.499 184.812Z"
                fill="#F86D70"
              />
              <path
                opacity="0.1"
                d="M156.933 249.865C156.933 249.865 162.934 250.987 165.337 252.72C167.741 254.453 156.199 250.005 156.199 250.005L156.933 249.865Z"
                fill="black"
              />
              <path
                opacity="0.1"
                d="M171.361 265.088C171.361 265.088 177.62 270.31 176.499 275.027C175.378 279.744 172.487 291.613 172.487 291.613L171.361 265.088Z"
                fill="black"
              />
              <path
                opacity="0.1"
                d="M116.624 255.048C116.624 255.048 107.805 256.013 108.376 257.157C108.948 258.301 116.624 256.102 116.624 256.102V255.048Z"
                fill="black"
              />
              <path
                opacity="0.1"
                d="M184.343 298.473C184.343 298.473 184.904 299.185 181.631 298.473C178.359 297.761 180.774 295.562 180.774 295.562L184.343 298.473Z"
                fill="black"
              />
              <path
                opacity="0.1"
                d="M183.223 308.339C183.223 308.339 178.74 309.052 176.337 308.339C173.933 307.627 183.223 308.339 183.223 308.339Z"
                fill="black"
              />
              <path
                opacity="0.1"
                d="M174 346.941C174 346.941 173.216 346.082 169.288 347.653C165.36 349.223 163.791 349.296 162.648 348.775C161.505 348.253 174 346.941 174 346.941Z"
                fill="black"
              />
              <path
                opacity="0.1"
                d="M178.36 253.831L172.79 261.588C172.79 261.588 175.788 254.796 178.36 253.831Z"
                fill="black"
              />
              <path
                opacity="0.1"
                d="M167.534 182.523C167.534 182.523 167.293 185.098 163.701 186.102C160.11 187.106 159.426 187.919 159.426 187.919"
                fill="black"
              />
              <path
                opacity="0.1"
                d="M158.2 163.862C158.2 163.862 153.459 167.227 148.512 166.515L158.2 163.862Z"
                fill="black"
              />
              <path
                opacity="0.1"
                d="M161.808 235.921C161.808 235.921 163.192 236.791 166.514 232.988L161.808 235.921Z"
                fill="black"
              />
              <path
                opacity="0.1"
                d="M196.318 195.598C196.452 194.902 195.97 194.257 195.516 193.713L194.586 192.591C194.404 192.362 194.2 192.151 193.975 191.963C193.415 191.531 192.698 191.402 192.115 191.015"
                fill="black"
              />
              <path
                opacity="0.1"
                d="M497.162 0.0616954C497.162 0.0616954 449.989 -2.78768 455.536 30.3056C455.536 30.3056 454.415 36.1558 459.727 38.8088C459.727 38.8088 459.811 36.3577 464.568 37.1934C466.262 37.4745 467.982 37.5573 469.695 37.4402C472.009 37.2803 474.208 36.3707 475.96 34.8489C475.96 34.8489 489.222 29.3632 494.377 7.66753C494.377 7.66753 498.193 2.93352 498.042 1.71636L490.079 5.12103C490.079 5.12103 492.803 10.8703 490.64 15.6492C490.64 15.6492 490.382 5.32857 488.852 5.55293C488.544 5.60341 484.717 7.54414 484.717 7.54414C484.717 7.54414 489.396 17.5562 485.866 24.8368C485.866 24.8368 487.205 12.4969 483.255 8.2677L477.652 11.5434C477.652 11.5434 483.12 21.8864 479.411 30.328C479.411 30.328 480.364 17.3824 476.469 12.3399L471.393 16.3054C471.393 16.3054 476.531 26.5026 473.399 33.5027C473.399 33.5027 472.99 18.4313 470.295 17.2926C470.295 17.2926 465.851 21.2189 465.173 22.8231C465.173 22.8231 468.692 30.227 466.507 34.1309C466.507 34.1309 465.168 24.0908 464.07 24.0347C464.07 24.0347 459.643 30.687 459.184 35.2527C459.184 35.2527 459.374 28.4714 462.999 23.4065C462.999 23.4065 458.719 24.1412 456.22 26.9177C456.22 26.9177 456.909 22.2173 464.092 21.8079C464.092 21.8079 467.751 16.7598 468.726 16.4513C468.726 16.4513 461.587 15.8567 457.256 17.775C457.256 17.775 461.066 13.3383 470.037 15.3575L475.052 11.2573C475.052 11.2573 465.65 9.97284 461.66 11.3919C461.66 11.3919 466.249 7.4656 476.402 10.3262L481.86 7.06176C481.86 7.06176 473.842 5.33418 469.068 5.93995C469.068 5.93995 474.11 3.21958 483.462 6.16993L487.384 4.4143C487.384 4.4143 481.512 3.25884 479.792 3.07374C478.072 2.88864 477.982 2.41749 477.982 2.41749C481.702 1.79649 485.522 2.22174 489.015 3.64587C489.015 3.64587 497.307 0.583335 497.162 0.0616954Z"
                fill="#6C63FF"
              />
              <path
                opacity="0.1"
                d="M438.979 8.48084C438.979 8.48084 417.687 7.19077 420.18 22.1444C420.18 22.1444 419.681 24.7919 422.068 25.9922C422.068 25.9922 422.108 24.8704 424.259 25.2574C425.023 25.3862 425.8 25.4238 426.573 25.3696C427.619 25.2985 428.613 24.8868 429.403 24.1973C429.403 24.1973 435.398 21.7237 437.729 11.9192C437.729 11.9192 439.449 9.77653 439.382 9.22684L435.785 10.7637C435.785 10.7637 437.018 13.3663 436.048 15.5258C436.048 15.5258 435.931 10.8591 435.241 10.9713C435.101 10.9713 433.37 11.8687 433.37 11.8687C433.37 11.8687 435.488 16.3952 433.891 19.6877C433.891 19.6877 434.496 14.1123 432.709 12.1996L430.176 13.6804C430.176 13.6804 432.653 18.3527 430.972 22.1669C430.972 22.1669 431.403 16.3166 429.644 14.0394L427.352 15.8511C427.352 15.8511 429.672 20.4617 428.26 23.6196C428.26 23.6196 428.075 16.8102 426.853 16.2998C426.853 16.2998 424.848 18.0723 424.539 18.8014C424.539 18.8014 426.131 22.1669 425.145 23.9057C425.145 23.9057 424.539 19.368 424.024 19.3511C424.024 19.3511 422.029 22.3576 421.816 24.3993C421.916 22.4938 422.511 20.6475 423.542 19.0426C422.388 19.2615 421.322 19.8132 420.477 20.63C420.477 20.63 420.791 18.5098 424.035 18.3191C424.035 18.3191 425.716 16.0418 426.131 15.9016C426.131 15.9016 422.903 15.6323 420.948 16.5017C420.948 16.5017 422.668 14.4937 426.725 15.3799L428.966 13.529C428.966 13.529 424.719 12.9681 422.914 13.5907C422.914 13.5907 424.988 11.8182 429.577 13.1083L432.042 11.6331C432.042 11.6331 428.422 10.8478 426.26 11.1339C426.26 11.1339 428.54 9.89993 432.765 11.2349L434.53 10.444C434.53 10.444 431.874 9.91675 431.095 9.83823C430.316 9.7597 430.277 9.54095 430.277 9.54095C431.959 9.26084 433.686 9.45506 435.264 10.1019C435.264 10.1019 439.046 8.71642 438.979 8.48084Z"
                fill="#6C63FF"
              />
              <path
                d="M513.354 365.013C525.798 365.013 535.885 363.305 535.885 361.199C535.885 359.092 525.798 357.384 513.354 357.384C500.911 357.384 490.824 359.092 490.824 361.199C490.824 363.305 500.911 365.013 513.354 365.013Z"
                fill="#6C63FF"
              />
              <path
                d="M522.673 354.961C523.701 354.123 524.45 352.99 524.819 351.714C525.099 350.429 524.55 348.909 523.317 348.41C521.939 347.883 520.465 348.842 519.35 349.807C518.235 350.771 516.952 351.876 515.495 351.669C516.246 350.986 516.808 350.121 517.126 349.157C517.444 348.193 517.507 347.163 517.311 346.166C517.247 345.754 517.073 345.366 516.806 345.045C516.039 344.226 514.655 344.574 513.736 345.219C510.822 347.271 510.01 351.237 509.993 354.799C509.701 353.514 509.948 352.174 509.942 350.872C509.937 349.571 509.573 348.068 508.458 347.378C507.77 347.008 506.997 346.826 506.216 346.851C504.911 346.8 503.448 346.935 502.557 347.894C501.437 349.083 501.734 351.08 502.698 352.381C503.661 353.683 505.135 354.518 506.491 355.421C507.576 356.069 508.501 356.953 509.197 358.007C509.281 358.154 509.349 358.311 509.399 358.473H517.613C519.45 357.536 521.152 356.355 522.673 354.961Z"
                fill="#6C63FF"
              />
            </g>
            <defs>
              <linearGradient
                id="paint0_linear"
                x1="453.02"
                y1="283.216"
                x2="453.02"
                y2="57.5654"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#808080" stop-opacity="0.25" />
                <stop offset="0.54" stop-color="#808080" stop-opacity="0.12" />
                <stop offset="1" stop-color="#808080" stop-opacity="0.1" />
              </linearGradient>
              <linearGradient
                id="paint1_linear"
                x1="22329.3"
                y1="140554"
                x2="50004.1"
                y2="140554"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#808080" stop-opacity="0.25" />
                <stop offset="0.54" stop-color="#808080" stop-opacity="0.12" />
                <stop offset="1" stop-color="#808080" stop-opacity="0.1" />
              </linearGradient>
              <clipPath id="clip0">
                <rect width="641" height="366" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </div>
        <button id="btn">
          <a href="/register">BECOME A CAMPUS AMBASSADOR</a>
        </button>
      </section>
      <section id="perks">
        <h1>Perks & Benefits</h1>
        <div class="cards">
          <div class="card platinum">
            <h2>Platinum</h2>
            <li>Official Merchandise</li>
            <li>Prof night passes</li>
            <li>1 free workshop (of your choice)</li>
            <div class="back"></div>
          </div>
          <div class="card gold">
            <h2>Gold</h2>
            <li>Free workshop</li>
            <li>Prof night passes</li>
            <div class="back"></div>
          </div>
          <div class="card silver">
            <h2>Silver</h2>
            <li>Free workshop</li>
            <div class="back"></div>
          </div>
        </div>
      </section>
      <section id="duties">
        <h1>Duties</h1>
        <div id="tabs">
          <div class="tab" id="pub">
            <h1>Publicize</h1>
            <p>
              Spread awareness about Invictas events and competitions in your
              college
            </p>
            <img src="/images/pub.svg" alt="" />
          </div>
          <div class="tab" id="idea">
            <h1>Ideate</h1>
            <p>
              Spread awareness about Invictas events and competitions in your
              college
            </p>
            <img src="/images/idea.svg" alt="" />
          </div>
          <div class="tab" id="pro">
            <h1>Promote</h1>
            <p>
              Spread awareness about Invictas events and competitions in your
              college
            </p>
            <img src="/images/pro.svg" alt="" />
          </div>
          <div class="tab" id="org">
            <h1>Organize</h1>
            <p>
              Spread awareness about Invictas events and competitions in your
              college
            </p>
            <img src="/images/org.svg" alt="" />
          </div>
          <div class="tab" id="rep">
            <h1>Represent</h1>
            <p>
              Spread awareness about Invictas events and competitions in your
              college
            </p>
            <img src="/images/rep.svg" alt="" />
          </div>
        </div>
      </section>
      <section id="faqs">
        <h1>FAQS</h1>
        <div class="para">
          <h3>Q. Who is a College Ambassador?</h3>
          <p>
            A College Ambassador is the face of INVICTA 20. They act as the
            link between fest and their college. They are the first point of
            contact for any student of the college.
          </p>
        </div>
        <div class="para">
          <h3>Q. Who is a College Ambassador?</h3>
          <p>
            A College Ambassador is the face of INVICTA 20. They act as the
            link between fest and their college. They are the first point of
            contact for any student of the college.
          </p>
        </div>
        <div class="para">
          <h3>Q. How should I apply?</h3>
          <p>
            Register through the official website of Invicta 20
          </p>
        </div>
        <div class="para">
          <h3>Q. What do I do if my points arent updated?</h3>
          <p>
            Send a mail to invictafest.iiitdmj@gmail.com specifying the exact
            problem or fill a query. We shall look into it and get back to you.
          </p>
        </div>
        <div class="para">
          <h3>Q. What is the eligibility to become a College Ambassador?</h3>
          <p>
            A valid college ID is enough
          </p>
        </div>
        <div class="para">
          <h3>Q. What kind of events will I be responsible for, as a CA?</h3>
          <p>
            Sharing the posts on all social media platforms and the posters on
            your college notice boards. Conducting workshops with the help of
            Invicta, IIITDMJ in your college
          </p>
        </div>
        <div class="para">
          <h3>Q. How much time and effort would be expected from me?</h3>
          <p>
            Basic commitment and sincerity towards the assigned task are
            required. You are expected to put in 1-2 hours in a week.
          </p>
        </div>
        <div class="para">
          <h3>
            Q. Can there be more than one College Ambassador from a college?
          </h3>
          <p>
            Depending on the necessity, Invicta, IIITDMJ can appoint more than
            one college ambassador from a college.
          </p>
        </div>
        <div class="para">
          <h3>
            Q. Can there be more than one College Ambassador from a college?
          </h3>
          <p>
            You will be informed about the task through the CA portal, social
            media hadles as well as whatsapp groups
          </p>
        </div>
      </section>
      <section id="contact">
        <div class="con_card" id="amanat">
          <img src="/images/dummy_user.png" alt="" />
          <h1>Amanat Mishra</h1>
          <h3>Email:2017030@iiitdmj.ac.in</h3>
          <h3>Phone No: 9999999999</h3>
        </div>
        <div class="con_card" id="arnav">
          <img src="/images/dummy_user.png" alt="" />
          <h1>Arnav Jain</h1>
          <h3>Email:2017030@iiitdmj.ac.in</h3>
          <h3>Phone No: 9999999999</h3>
        </div>
      </section>
      <section id="copyright">Invicta  All Rights Reserved</section>
    </div>
  </body>
</html>
