<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./include/header %>
    <link
      href="https://fonts.googleapis.com/css?family=Muli&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <a href="/event_land/cultural/event_page/1">1</a>
    <a href="/event_land/cultural/event_page/2">2</a>
    <a href="/event_land/cultural/event_page/3">3</a>
    <%= event.event_intro %>
  </body>
</html>
