<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./include/header %>
    <link rel="stylesheet" href="/css/navbar.css" type="text/css" />
    <link rel="stylesheet" href="/css/homepage.css" type="text/css" />
    <link rel="stylesheet" href="/css/modal.css" type="text/css" />
    <link rel="stylesheet" href="/css/swiper.min.css" />
  </head>
  <body>
    <% include ./include/navbar %>
    <!-- <div id="popup_full">
      <div>
        <p>
          From peaceful reign to a world of Dystopia
        </p>
        <button onclick="openFullscreen()">Tap to Enter</button>
        <p>the saga of The Apocalyptic Dawn!</p>
      </div>
    </div> -->
    <div class="container" id="fullpage">
      <section id="landing">
        <div id="scene">
          <div data-depth="0.09" class="layer">
            <img src="/images/layer1.png" alt="" />
          </div>
          <div data-depth="0.3" class="layer">
            <img src="/images/layer2-1.png" alt="" />
          </div>
          <div data-depth="0.4" class="layer">
            <img src="/images/layer3.png" alt="" />
          </div>
          <!-- <div data-depth="0.6" class="layer">
            <img src="/images/layer4.png" alt="" />
          </div> -->
        </div>
        <div id="center_text">
          <p id="topLine">IIITDMJ PRESENTS</p>
          <img src="/images/header.png" id="header_invicta" alt="" />
          <p id="bottomLine">2020: AN APOCALYPTIC DAWN</p>
          <button id="explore">ENTER THE BATTLE</button>
        </div>
        <img
          src="/images/CultureMan.png"
          class="character"
          id="cultureMan"
          alt=""
        />
        <img src="/images/TechMan.png" class="character" id="TechMan" alt="" />
        <img src="/images/Design.png" class="character" id="DesignMan" alt="" />
        <img src="/images/scrollIcon.png" id="scrollIcon" alt="" />
        <p id="flash">
          Click on a character to see competitions in thier respective domains
        </p>
        <div id="overlay_tech">
          <div class="comp" id="tech_comp">
            <div class="title" id="tech_title">Technical</div>
            <div class="comp_list">
              <h1 class="club tech_" onclick="show('ast')">Astronomy</h1>
              <h1 class="club tech_" onclick="show('photo')">Photography</h1>
              <h1 class="club tech_" onclick="show('bm')">
                Business Managment
              </h1>
              <h1 class="club tech_" onclick="show('prog')">Programming</h1>
              <h1 class="club tech_" onclick="show('elec')">Electronics</h1>
              <h1 class="club tech_" onclick="show('race')">Racing</h1>
              <h1 class="club tech_" onclick="show('rob')">Robotics</h1>
              <h1 class="club tech_" onclick="show('af')">
                Automotive and Fabrication
              </h1>
            </div>
            <div class="goback" id="stech">Go Back</div>

            <div class="swiper-container tech_slide" id="ast">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <h1>Apollo</h1>
                  <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Provident quam numquam cumque vero consectetur nesciunt,
                    facere, delectus architecto minus cum aperiam sapiente?
                    Eveniet
                  </p>
                  <a href="#">Explore</a>
                </div>
                <div class="swiper-slide">
                  <h1>CHRONOS</h1>
                  <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Provident quam numquam cumque vero consectetur nesciunt,
                    facere, delectus architecto minus cum aperiam sapiente?
                    Eveniet
                  </p>
                  <a href="#">Explore</a>
                </div>
              </div>
              <h5 onclick="back_slide()">BACK</h5>
            </div>
            <div class="swiper-container tech_slide" id="photo">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <h1>Online Photography</h1>
                  <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Provident quam numquam cumque vero consectetur nesciunt,
                    facere, delectus architecto minus cum aperiam sapiente?
                    Eveniet
                  </p>
                  <a href="#">Explore</a>
                </div>
                <div class="swiper-slide">
                  <h1>offline Photography</h1>
                  <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Provident quam numquam cumque vero consectetur nesciunt,
                    facere, delectus architecto minus cum aperiam sapiente?
                    Eveniet
                  </p>
                  <a href="#">Explore</a>
                </div>
              </div>
              <h5 onclick="back_slide()">BACK</h5>
            </div>
            <div class="swiper-container tech_slide" id="bm">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <h1>Business hackathon</h1>
                  <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Provident quam numquam cumque vero consectetur nesciunt,
                    facere, delectus architecto minus cum aperiam sapiente?
                    Eveniet
                  </p>
                  <a href="#">Explore</a>
                </div>
                <div class="swiper-slide">
                  <h1>Pitch Perfect</h1>
                  <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Provident quam numquam cumque vero consectetur nesciunt,
                    facere, delectus architecto minus cum aperiam sapiente?
                    Eveniet
                  </p>
                  <a href="#">Explore</a>
                </div>
              </div>
              <h5 onclick="back_slide()">BACK</h5>
            </div>
            <div class="swiper-container tech_slide" id="prog">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <h1>24 Hour Hackathon</h1>
                  <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Provident quam numquam cumque vero consectetur nesciunt,
                    facere, delectus architecto minus cum aperiam sapiente?
                    Eveniet
                  </p>
                  <a href="#">Explore</a>
                </div>
                <div class="swiper-slide">
                  <h1>Onsite Coding</h1>
                  <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Provident quam numquam cumque vero consectetur nesciunt,
                    facere, delectus architecto minus cum aperiam sapiente?
                    Eveniet
                  </p>
                  <a href="#">Explore</a>
                </div>
                <div class="swiper-slide">
                  <h1 style="font-size: 1.6rem;">Cryptocracker</h1>
                  <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Provident quam numquam cumque vero consectetur nesciunt,
                    facere, delectus architecto minus cum aperiam sapiente?
                    Eveniet
                  </p>
                  <a href="#">Explore</a>
                </div>
              </div>
              <h5 onclick="back_slide()">BACK</h5>
            </div>
            <div class="swiper-container tech_slide" id="elec">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <h1>LED Matrix</h1>
                  <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Provident quam numquam cumque vero consectetur nesciunt,
                    facere, delectus architecto minus cum aperiam sapiente?
                    Eveniet
                  </p>
                  <a href="#">Explore</a>
                </div>
                <div class="swiper-slide">
                  <h1>Quizzard</h1>
                  <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Provident quam numquam cumque vero consectetur nesciunt,
                    facere, delectus architecto minus cum aperiam sapiente?
                    Eveniet
                  </p>
                  <a href="#">Explore</a>
                </div>
                <div class="swiper-slide">
                  <h1 style="font-size: 1.6rem;">Technovate</h1>
                  <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Provident quam numquam cumque vero consectetur nesciunt,
                    facere, delectus architecto minus cum aperiam sapiente?
                    Eveniet
                  </p>
                  <a href="#">Explore</a>
                </div>
              </div>
              <h5 onclick="back_slide()">BACK</h5>
            </div>
            <div class="swiper-container tech_slide" id="race">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <h1>Automobile Quiz</h1>
                  <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Provident quam numquam cumque vero consectetur nesciunt,
                    facere, delectus architecto minus cum aperiam sapiente?
                    Eveniet
                  </p>
                  <a href="#">Explore</a>
                </div>
                
              </div>
              <h5 onclick="back_slide()">BACK</h5>
            </div>
            <div class="swiper-container tech_slide" id="rob">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <h1>Robowar</h1>
                  <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Provident quam numquam cumque vero consectetur nesciunt,
                    facere, delectus architecto minus cum aperiam sapiente?
                    Eveniet
                  </p>
                  <a href="#">Explore</a>
                </div>
                <div class="swiper-slide">
                  <h1>Robosoccer</h1>
                  <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Provident quam numquam cumque vero consectetur nesciunt,
                    facere, delectus architecto minus cum aperiam sapiente?
                    Eveniet
                  </p>
                  <a href="#">Explore</a>
                </div>
                <div class="swiper-slide">
                  <h1 style="font-size: 1.6rem;">Robothon</h1>
                  <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Provident quam numquam cumque vero consectetur nesciunt,
                    facere, delectus architecto minus cum aperiam sapiente?
                    Eveniet
                  </p>
                  <a href="#">Explore</a>
                </div>
              </div>
              <h5 onclick="back_slide()">BACK</h5>
            </div>
            <div class="swiper-container tech_slide" id="af">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <h1>Bulls Eye</h1>
                  <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Provident quam numquam cumque vero consectetur nesciunt,
                    facere, delectus architecto minus cum aperiam sapiente?
                    Eveniet
                  </p>
                  <a href="#">Explore</a>
                </div>
               
                <div class="swiper-slide">
                  <h1>Eagels View</h1>
                  <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Provident quam numquam cumque vero consectetur nesciunt,
                    facere, delectus architecto minus cum aperiam sapiente?
                    Eveniet
                  </p>
                  <a href="#">Explore</a>
                </div>
              </div>
              <h5 onclick="back_slide()">BACK</h5>
            </div>
          </div>
        </div>
        <!-- <div id="overlay_design"></div> -->
        <div id="overlay_cul">
          <div class="comp" id="cul_comp">
            <div class="title" id="tech_title">CULTURAL</div>
            <div class="comp_list">
              <h1 class="club" onclick="show('saaz')">MUSIC</h1>
              <h1 class="club" onclick="show('act')">ACT</h1>
              <h1 class="club" onclick="show('dance')">DANCE</h1>
              <h1 class="club" onclick="show('lit')">LITREATURE</h1>
            </div>
            <div class="goback" id="scult">Go Back</div>
            <div class="swiper-container cul_slide" id="lit">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <h1>Jam</h1>
                  <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Provident quam numquam cumque vero consectetur nesciunt,
                    facere, delectus architecto minus cum aperiam sapiente?
                    Eveniet
                  </p>
                  <a href="#">Explore</a>
                </div>
                <div class="swiper-slide">
                  <h1>Crisi Committe</h1>
                  <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Provident quam numquam cumque vero consectetur nesciunt,
                    facere, delectus architecto minus cum aperiam sapiente?
                    Eveniet
                  </p>
                  <a href="#">Explore</a>
                </div>
                <div class="swiper-slide">
                  <h1>Hindi Debate</h1>
                  <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Provident quam numquam cumque vero consectetur nesciunt,
                    facere, delectus architecto minus cum aperiam sapiente?
                    Eveniet
                  </p>
                  <a href="#">Explore</a>
                </div>
                <div class="swiper-slide">
                  <h1>General Quiz</h1>
                  <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Provident quam numquam cumque vero consectetur nesciunt,
                    facere, delectus architecto minus cum aperiam sapiente?
                    Eveniet
                  </p>
                  <a href="#">Explore</a>
                </div>
                <div class="swiper-slide">
                  <h1>Carnival of Detectives</h1>
                  <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Provident quam numquam cumque vero consectetur nesciunt,
                    facere, delectus architecto minus cum aperiam sapiente?
                    Eveniet
                  </p>
                  <a href="#">Explore</a>
                </div>
              </div>
              <h5 onclick="back_slide()">BACK</h5>


            </div>
            <div class="swiper-container cul_slide" id="dance">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <h1>Jhankar</h1>
                  <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Provident quam numquam cumque vero consectetur nesciunt,
                    facere, delectus architecto minus cum aperiam sapiente?
                    Eveniet
                  </p>
                  <a href="#">Explore</a>
                </div>
                <div class="swiper-slide">
                  <h1>Engage</h1>
                  <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Provident quam numquam cumque vero consectetur nesciunt,
                    facere, delectus architecto minus cum aperiam sapiente?
                    Eveniet
                  </p>
                  <a href="#">Explore</a>
                </div>
                <div class="swiper-slide">
                  <h1>Feet On Fire</h1>
                  <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Provident quam numquam cumque vero consectetur nesciunt,
                    facere, delectus architecto minus cum aperiam sapiente?
                    Eveniet
                  </p>
                  <a href="#">Explore</a>
                </div>
              </div>
              <h5 onclick="back_slide()">BACK</h5>
            </div>
            <div class="swiper-container cul_slide" id="saaz">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <h1>Aaveg</h1>
                  <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Provident quam numquam cumque vero consectetur nesciunt,
                    facere, delectus architecto minus cum aperiam sapiente?
                    Eveniet
                  </p>
                  <a href="#">Explore</a>
                </div>
                <div class="swiper-slide">
                  <h1>Alap</h1>
                  <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Provident quam numquam cumque vero consectetur nesciunt,
                    facere, delectus architecto minus cum aperiam sapiente?
                    Eveniet
                  </p>
                  <a href="#">Explore</a>
                </div>
                <div class="swiper-slide">
                  <h1>Dhun</h1>
                  <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Provident quam numquam cumque vero consectetur nesciunt,
                    facere, delectus architecto minus cum aperiam sapiente?
                    Eveniet
                  </p>
                  <a href="#">Explore</a>
                </div>
              
                <div class="swiper-slide">
                  <h1>Bandish</h1>
                  <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Provident quam numquam cumque vero consectetur nesciunt,
                    facere, delectus architecto minus cum aperiam sapiente?
                    Eveniet
                  </p>
                  <a href="#">Explore</a>
                </div>
              </div>
              <h5 onclick="back_slide()">BACK</h5>
            </div>
            <div class="swiper-container cul_slide" id="act">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <h1>Hunkaar</h1>
                  <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Provident quam numquam cumque vero consectetur nesciunt,
                    facere, delectus architecto minus cum aperiam sapiente?
                    Eveniet
                  </p>
                  <a href="#">Explore</a>
                </div>
                <div class="swiper-slide">
                  <h1>Adakari</h1>
                  <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Provident quam numquam cumque vero consectetur nesciunt,
                    facere, delectus architecto minus cum aperiam sapiente?
                    Eveniet
                  </p>
                  <a href="#">Explore</a>
                </div>
                <div class="swiper-slide">
                  <h1 style="font-size: 1.6rem;">Rangmanch</h1>
                  <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Provident quam numquam cumque vero consectetur nesciunt,
                    facere, delectus architecto minus cum aperiam sapiente?
                    Eveniet
                  </p>
                  <a href="#">Explore</a>
                </div>
              </div>
              <h5 onclick="back_slide()">BACK</h5>
            </div>
          </div>
        </div>
      </section>
      <section id="about">
        <div class="about_content">
          <h1>About Us</h1>
          <p>
            INVICTA, the first techno-cultural design fest of Indian Institute
            of Information Technology, Design and Manufacturing, Jabalpur
            welcomes you all to join in on the maddening fun.
          </p>
          <p>
            INVICTA, a fest that will stitch together the cultural, the
            technical and the design community, awaits your presence in the
            colossal and magical world that we'll weave together for you to
            admire. This time IIITDMJ looks to integrate technology with an
            array of Design and Culture, an adventure that aims to explore
            infinity and beyond. The three day festival will host a series of
            unique and challenging events to set abuzz the best brains and the
            best talents out there. Don't miss out on dancing those beats, and
            showcasing your technical expertise in the plethora of events,
            guaranteed to catch your attention.
          </p>
          <p>
            Grab your friends, mark your calendars and gear up for the first
            ever Techno-Cultural Design fest
          </p>
        </div>
        <div id="scene1">
          <div data-depth="0.3" class="layer">
            <img src="/images/layer2-1.png" alt="" />
          </div>
          <div data-depth="0.4" class="layer">
            <img src="/images/layer3.png" alt="" />
          </div>
          <div data-depth="0.6" class="layer">
            <img src="/images/about.png" class="aboutpng" alt="" />
          </div>
        </div>
      </section>
      <section id="stats">
        <div id="stat_content">
          <h1>STATS</h1>
          <div class="count">
            <div class="figure">
              <h1>50+</h1>
              <p>Events</p>
            </div>
            <div class="figure">
              <h1>200+</h1>
              <p>Colleges</p>
            </div>
            <div class="figure">
              <h1>1500+</h1>
              <p>Footfall</p>
            </div>
          </div>
        </div>
        <div id="scene2">
          <div data-depth="0.4" class="layer">
            <img src="/images/layer2-1.png" alt="" />
          </div>
          <div data-depth="0.5" class="layer">
            <img src="/images/layer3.png" alt="" />
          </div>
          <div data-depth="0.3" class="layer">
            <img src="/images/statBK.jpg" class="statpng" alt="" />
          </div>
        </div>
      </section>
      <section id="theme">
        <div class="about_content">
          <h1>Theme</h1>
          <p>
            THE APOCALYPTIC DAWN<br />“The harder the battle, sweeter the
            victory”
          </p>
          <p>
            The cultural community and a mysterious clan of designers lived in
            harmony until the Technical clique trespassed. Did the IIITDMJ
            Campus remain calmo? Both the clans under duress then after! The
            entrant sought to overpower the contemporaries of the serene, scenic
            woods of IIITDMJ, especially the Cultural Clan. Monopoly: the sole
            purpose, they sought! Intolerable was it becoming for the composed
            but not naïve Cultural contemporaries. The designers’ minds fathomed
            a way in! Furnishing weapons to the warriors of each clique, which
            embarked the looming war.
          </p>
          <p>
            Let’s witness this outrage amongst the three warriors clans, turning
            the peaceful woods of IIITDMJ into a dystopia. Await the Apocalyptic
            Dawn and see who will be the undisputed victor: The Invictus
            Warrior?
          </p>
        </div>
        <div id="scene3">
          <div data-depth="0.3" class="layer">
            <img src="/images/layer2-1.png" alt="" />
          </div>
          <div data-depth="0.4" class="layer">
            <img src="/images/layer3.png" alt="" />
          </div>
          <div data-depth="0.6" class="layer">
            <img src="/images/theme.png" class="aboutpng" alt="" />
          </div>
        </div>
      </section>
      <footer>
        <div id="footer">
          <div id="ft_fest">
            <img src="/images/logoq.png" alt="" />
            <img src="/images/IIIT.png" alt="" />
          </div>
          <div id="ft_ex">
            <h1>Explore</h1>
            <a href="/team">Team</a>
            <a href="#">Administration</a>
            <a href="#">Fest Map</a>
            <a href="#">Event Schedule</a>
          </div>
          <div id="ft_link">
            <a href=""><img src="/images/phone.png" alt=""/></a>
            <a href=""><img src="/images/fb.png" alt=""/></a>
            <a href=""><img src="/images/insta.png" alt=""/></a>
            <a href=""><img src="/images/youtube.png" alt=""/></a>
          </div>
          <div id="ft_nav">
            <a href="/ca_portal" target="_blank">CA Portal</a>
            <a href="/register">Register</a>
            <a href="#">Accomodation</a>
            <a href="#">Events</a>
            <a href="/sponsor">Sponsors</a>
            <a href="#">Contact Us</a>
          </div>
        </div>
        <p>
          Invicta © All Rights Reserved | For website related queries Contact
          <a href="mailto:2017030@iiitdmj.ac.in?Subject=Website" target="_top"
            ><em>Aman Dhurwey</em></a
          >
        </p>
      </footer>
    </div>

    <script>
      /* Get the documentElement (<html>) to display the page in fullscreen */
      var elem = document.documentElement;
      /* View in fullscreen */
      function openFullscreen() {
        if (elem.requestFullscreen) {
          elem.requestFullscreen();
        } else if (elem.mozRequestFullScreen) {
          /* Firefox */
          elem.mozRequestFullScreen();
        } else if (elem.webkitRequestFullscreen) {
          /* Chrome, Safari and Opera */
          elem.webkitRequestFullscreen();
        } else if (elem.msRequestFullscreen) {
          /* IE/Edge */
          elem.msRequestFullscreen();
        }
        var popup_full = document.getElementById("popup_full");
        popup_full.style.display = "none";
      }

      /* Close fullscreen */
      function closeFullscreen() {
        if (document.exitFullscreen) {
          document.exitFullscreen();
        } else if (document.mozCancelFullScreen) {
          /* Firefox */
          document.mozCancelFullScreen();
        } else if (document.webkitExitFullscreen) {
          /* Chrome, Safari and Opera */
          document.webkitExitFullscreen();
        } else if (document.msExitFullscreen) {
          /* IE/Edge */
          document.msExitFullscreen();
        }
      }
    </script>
    <script src="/js/swiper.min.js"></script>
    <script>
      var swiper = new Swiper(".swiper-container", {
        effect: "coverflow",
        grabCursor: true,
        centeredSlides: true,
        slidesPerView: "auto",
        coverflowEffect: {
          rotate: 50,
          stretch: 0,
          depth: 100,
          modifier: 1,
          slideShadows: true
        },
        pagination: {
          el: ".swiper-pagination"
        }
      });
    </script>
  </body>
  <script src="//code.jquery.com/jquery-3.2.0.min.js"></script>
  <script src="/js/jquery.fullpage.min.js"></script>
  <script>
    $("#fullpage").fullpage();
  </script>

  <script src="/js/parallax.min.js"></script>
  <script src="/js/homepage.js"></script>
  <script src="/js/modal.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/plugins/CSSPlugin.min.js"></script>
  <script src="/js/homegsap.js"></script>
  <script>
    var scene = document.getElementById("scene");
    var parallaxInstance = new Parallax(scene, {
      relativeInput: true
    });
    var scene1 = document.getElementById("scene1");
    var parallaxInstance = new Parallax(scene1, {
      relativeInput: true
    });
    var scene2 = document.getElementById("scene2");
    var parallaxInstance = new Parallax(scene2, {
      relativeInput: true
    });
    var scene3 = document.getElementById("scene3");
    var parallaxInstance = new Parallax(scene3, {
      relativeInput: true
    });
  </script>
</html>
