<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./include/header %>
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/package.css" />
    <link rel="stylesheet" href="/css/swiper.min.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <% include ./include/navbar %>
    <div class="container">
      <h1>PACAKGES</h1>
      <div class="pack">
        <div>
          <h1>ALPHA PACK</h1>
          <li>Pronite Passes</li>
          <li class="sub">For all 3 pronites</li>
          <li class="sub">Aaveg Night Band War</li>
          <li class="sub">EDM Night</li>
          <li>Artist Night</li>
          <li>ID Card</li>
          <li>Exclusive Invicta Merchandise</li>
          <li>Accomodation facility during the entire fest</li>
          <h3 class="price">₹ 1300</h3>
        </div>
        <div>
          <h1>ALPHA PACK</h1>
          <li>Pronite Passes</li>
          <li class="sub">For all 3 pronites</li>
          <li class="sub">Aaveg Night Band War</li>
          <li class="sub">EDM Night</li>
          <li>Artist Night</li>
          <li>ID Card</li>
          <li>Exclusive Invicta Merchandise</li>
          <li>Accomodation facility during the entire fest</li>
          <h3 class="price">₹ 1300</h3>
        </div>
        <div>
          <h1>ALPHA PACK</h1>
          <li>Pronite Passes</li>
          <li class="sub">For all 3 pronites</li>
          <li class="sub">Aaveg Night Band War</li>
          <li class="sub">EDM Night</li>
          <li>Artist Night</li>
          <li>ID Card</li>
          <li>Exclusive Invicta Merchandise</li>
          <li>Accomodation facility during the entire fest</li>
          <h3 class="price">₹ 1300</h3>
        </div>
        <div>
          <h1>ALPHA PACK</h1>
          <li>Pronite Passes</li>
          <li class="sub">For all 3 pronites</li>
          <li class="sub">Aaveg Night Band War</li>
          <li class="sub">EDM Night</li>
          <li>Artist Night</li>
          <li>ID Card</li>
          <li>Exclusive Invicta Merchandise</li>
          <li>Accomodation facility during the entire fest</li>
          <h3 class="price">₹ 1300</h3>
        </div>
      </div>
    </div>
  </body>
</html>
