<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./include/header %>
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/register.css" />
  </head>
  <body>
    <% include ./include/navbar %>
    <div id="scene">
      <div data-depth="0.09" class="layer">
        <img src="/images/layer1.png" alt="" />
      </div>
      <div data-depth="0.3" class="layer">
        <img src="/images/layer2-1.png" alt="" />
      </div>
      <div data-depth="0.4" class="layer">
        <img src="/images/layer3.png" alt="" />
      </div>
      <!-- <div data-depth="0.6" class="layer">
                <img src="/images/layer4.png" alt="" />
              </div> -->
    </div>
    <div id="form" name="register">
      <% if(msg) %>
      <div id="validation_message"><%= msg %></div>
      <form id="register_form">
        <div class="block">
          <label for="firstname">Firstname</label>
          <input type="text" id="firstname" name="firstname" required />
        </div>

        <div class="block">
          <label for="lastname">Lastname</label>
          <input type="text" id="lastname" name="lastname" required />
        </div>

        <div class="block">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" required />
        </div>

        <div class="block">
          <label for="college">College</label>
          <input type="text" id="college" name="college" required />
        </div>

        <div class="block">
          <label for="gender">gender</label>
          <div class="radio">
            <div>
              <input type="radio" name="gender" value="male" checked />
              <p>Male</p>
            </div>
            <div>
              <input type="radio" name="gender" value="female" />
              <p>Female</p>
            </div>
          </div>
        </div>

        <div class="block">
          <label for="position">What are you registering for</label>
          <div class="radio">
            <div>
              <input type="radio" name="position" value="1" checked />
              <p>Campus Ambassador</p>
            </div>
            <div>
              <input type="radio" name="position" value="0" />
              <p>Participant</p>
            </div>
          </div>
        </div>

        <div class="block">
          <label for="city">city</label>
          <input type="text" id="city" name="city" required />
        </div>

        <div class="block">
          <label for="phone">Phone</label>
          <input type="number" id="phone" name="phone" required />
        </div>

        <div class="block">
          <label for="password">Password</label>
          <input type="text" id="password" name="password" required />
        </div>

        <div class="block">
          <label for="refral">Refral Code</label>
          <input type="text" name="refral" />
        </div>

        <button onclick="validate(event)">
          Register
        </button>
      </form>
      <p>Already registered with us? <a href="./login">Login Here</a></p>
    </div>
    <!-- <script>
      /* Get the documentElement (<html>) to display the page in fullscreen */
      var elem = document.documentElement;
      elem.requestFullscreen();
    </script> -->
    <script src="/js/validation.js"></script>
  </body>
  <script src="/js/parallax.min.js"></script>

  <script>
    var scene = document.getElementById("scene");
    var parallaxInstance = new Parallax(scene, {
      relativeInput: true
    });
  </script>
</html>
