<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./include/header %>
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/sponsor.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <h1>PREV SPONSORS</h1>
    <div class="container">
      <img src="/images/sponsors/1.png" alt="" />
      <img src="/images/sponsors/2.jpg" alt="" />
      <img src="/images/sponsors/3.png" alt="" />
      <img src="/images/sponsors/4.jpg" alt="" />
      <img src="/images/sponsors/5.jpg" alt="" />
      <img src="/images/sponsors/6.png" alt="" />
      <img src="/images/sponsors/7.png" alt="" />
      <img src="/images/sponsors/8.png" alt="" />
      <img src="/images/sponsors/9.jpg" alt="" />
      <img src="/images/sponsors/10.png" alt="" />
      <img src="/images/sponsors/11.png" alt="" />
      <img src="/images/sponsors/12.png" alt="" />
      <img src="/images/sponsors/13.jpg" alt="" />
      <img src="/images/sponsors/14.png" alt="" />
      <img src="/images/sponsors/15.png" alt="" />
      <img src="/images/sponsors/16.jpg" alt="" />
      <img src="/images/sponsors/17.png" alt="" />
      <img src="/images/sponsors/18.jpg" alt="" />
      <img src="/images/sponsors/19.jpg" alt="" />
      <img src="/images/sponsors/20.jpg" alt="" />
      <img src="/images/sponsors/21.png" alt="" />
      <img src="/images/sponsors/22.png" alt="" />
      <img src="/images/sponsors/23.jpg" alt="" />
      <img src="/images/sponsors/24.jpg" alt="" />
      <img src="/images/sponsors/25.jpg" alt="" />
    </div>
  </body>
  <script src="/js/parallax.min.js"></script>
  <script>
    var scene = document.getElementById("scene");
    var parallaxInstance = new Parallax(scene, {
      relativeInput: true
    });
  </script>
</html>
