<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/team.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <h1>Meet The Team</h1>
    <div class="container">
      <div class="block">
        <div class="card card1">
          <h5>Bhushan Patil</h5>
          <p>Sponsorship</p>
          <a href="#">View Profile</a>
        </div>
        <div class="card card2">
          <h5>Mohd. Sadaan Kahn</h5>
          <p>Marketing</p>
          <a href="#">View Profile</a>
        </div>
        <div class="card card3">
          <h5>Kritika Singh</h5>
          <p>Marketing</p>
          <a href="#">View Profile</a>
        </div>
      </div>
      <div class="block">
        <div class="card card4">
          <h5>Sourav Saha</h5>
          <p>Finance & Accounts</p>
          <a href="#">View Profile</a>
        </div>
        <div class="card card5">
          <h5>Suprabh Sharma</h5>
          <p>Finance & Accounts</p>
          <a href="#">View Profile</a>
        </div>
      </div>
      <div class="block">
        <div class="card card6">
          <h5>Tanzeel Alam</h5>
          <p>Event & Infrastructre</p>
          <a href="#">View Profile</a>
        </div>
        <div class="card card7">
          <h5>Ambuj Jain</h5>
          <p>Event & Infrastructre</p>
          <a href="#">View Profile</a>
        </div>
        <div class="card card8">
          <h5>Achyut Trivedi</h5>
          <p>Event & Infrastructre</p>
          <a href="#">View Profile</a>
        </div>
      </div>
      <div class="block">
        <div class="card card9">
          <h5>Amanat</h5>
          <p>Media & Public Relation</p>
          <a href="#">View Profile</a>
        </div>
        <div class="card card10">
          <h5>Arnav Jain</h5>
          <p>Media & Public Relation</p>
          <a href="#">View Profile</a>
        </div>
      </div>
      <div class="block">
        <div class="card card11">
          <h5>Aromal Ashok</h5>
          <p>Design</p>
          <a href="#">View Profile</a>
        </div>
        <div class="card card12">
          <h5>Aman Dhurwey</h5>
          <p>Develpoment</p>
          <a href="#">View Profile</a>
        </div>
        <div class="card card13">
          <h5>Bhuanjai vyas</h5>
          <p>Design</p>
          <a href="#">View Profile</a>
        </div>
      </div>
      <div class="block">
        <div class="card card14">
          <h5>Anikit Tiwari</h5>
          <p>Security & Help Desk</p>
          <a href="#">View Profile</a>
        </div>
        <div class="card card15">
          <h5>M. Manoj Kumar</h5>
          <p>Security & Help Desk</p>
          <a href="#">View Profile</a>
        </div>
        <div class="card card16">
          <h5>Kuhu Pyasi</h5>
          <p>Security & Help Desk</p>
          <a href="#">View Profile</a>
        </div>
      </div>
    </div>
  </body>
</html>
