<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./include/header %>
    <link
      href="https://fonts.googleapis.com/css?family=Muli&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <a href="#">Technical</a>
  </body>
</html>
