*{
    margin:0;
    padding:0;
}
body{
    overflow: hidden;
    position: relative;
    font-family: 'Noto Sans KR', sans-serif;
}
#container{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url('../images/Artboard1.png');
    background-size:cover;
    background-repeat: no-repeat;
    transition: all 0.85s ease-in-out;
    // filter: blur(8px);
    .foreground{
        position: absolute;
        top:0;
        left:0;
        height:100%;
        width:100%;
        background-image: url('../images/foreground2.png');
        background-size:cover;
        background-repeat: no-repeat;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .emblem{
        width:450.01px;
        height:503.99px;
        position: absolute;
        top:30%;
        left:52%;
        transform:translate(-50%,-50%) ;
        svg{
            height:inherit;
            width:inherit;
        }
    }

    #demo{
        position: absolute;
        top:65%;
        left:50%;
        transform:translate(-50%,-50%) ;
        color: #D3B178;
        font-size: 62px;
        display: flex;
        flex-direction: row;

        .bar{
            display: flex;
            flex-direction: row;
            margin:10px;
            justify-content: center;
            align-items:center;
            .label{
                font-size: 42px;
            }
        }
    }

    .social_links{
        display: flex;
        flex-direction: row;
        position: absolute;
        bottom:1%;
        left:50%;
        transform:translate(-50%,-50%) ;
        .social_box{
            background-color: #D3B178;
            border-radius: 50%;
            width:36px;
            height:36px;
            margin: 10px 26px;
            position: relative;
            cursor: pointer;
            transition: all 0.5s ease;
            box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.562);
            a{
                text-decoration: none;
                i{
                    position: absolute;
                    font-size: 18px;
                    top:55%;
                    left:50%;
                    transform:translate(-50%,-50%) ;
                    color: black;
                }
            }
            &:hover{
                background-color: blanchedalmond;
            }
        }
        
    }
}

// #contact{
//     position: absolute;
//     bottom:5%;
//     left:50%;
//     transform: translate(-50%,-50%);
//     color: #D3B178;
//     cursor: pointer;
//     i{
//         padding:0 10px;
//     }
//     &:hover{
//         color:white;
//     }
// }

#contact_card{
    position: absolute;
    bottom:12%;
    left:55%;
    transform: translate(-50%,-50%);
    width:50%;
    display: flex;
    justify-content: center;
    align-items:center;
    form{
        display: flex;
        width: 100%;
        padding:10px;
      

        input,button{
            height:35px; 
            outline:none;
            border:none;
            background:transparent;
            margin-right:5px;
        }
        input[type = text]{
            width:60%;
            border-bottom: 1px solid gray;
            color: white;
            font-family: 'Muli', sans-serif;
            font-size: 18px;
        } 
        ::placeholder{
            color:white;
        } 
        button{
            background-color: #D3B178;
            padding: 0 13px;
            font-size: 18px;
            color:white;
            cursor: pointer;
        } 
    }
}