* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  position: relative;
  font-family: 'Noto Sans KR', sans-serif;
  height: 100vh;
  width: 100vw;
}

#container {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: url("../images/Artboard1.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50% 20% 15% 15%;
      grid-template-rows: 50% 20% 15% 15%;
  place-items: center;
}

#container .foreground {
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  width: inherit;
  background-image: url("../images/foreground2.png");
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  pointer-events: none;
}

#container .emblem {
  width: 450.01px;
  height: 503.99px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

#container .emblem svg {
  height: inherit;
  width: inherit;
}

#container #demo {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  color: #D3B178;
  font-size: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-shadow: 2px 0 10px rgba(0, 0, 0, 0.623);
}

#container #demo .bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container #demo .bar .label {
  font-size: 42px;
}

#container #contact_card {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
}

#container #contact_card form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}

#container #contact_card form input, #container #contact_card form button {
  height: 35px;
  outline: none;
  border: none;
  background: transparent;
  margin-right: 5px;
}

#container #contact_card form input[type=text] {
  width: 350px;
  border-bottom: 1px solid gray;
  color: white;
  font-family: 'Muli', sans-serif;
  font-size: 18px;
}

#container #contact_card form ::-webkit-input-placeholder {
  color: white;
}

#container #contact_card form :-ms-input-placeholder {
  color: white;
}

#container #contact_card form ::-ms-input-placeholder {
  color: white;
}

#container #contact_card form ::placeholder {
  color: white;
}

#container #contact_card form button {
  width: auto;
  background-color: #D3B178;
  padding: 0 13px;
  font-size: 18px;
  color: white;
  cursor: pointer;
}

#container .social_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
}

#container .social_links .social_box {
  background-color: #D3B178;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  margin: 10px 26px;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.562);
          box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.562);
}

#container .social_links .social_box a {
  text-decoration: none;
}

#container .social_links .social_box a i {
  position: absolute;
  font-size: 18px;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: black;
}

#container .social_links .social_box:hover {
  background-color: blanchedalmond;
}

@media only screen and (max-width: 961px) {
  #container .foreground {
    display: block;
  }
  #container .emblem {
    width: 350.01px;
    height: 403.99px;
  }
  #container .emblem svg {
    height: inherit;
    width: inherit;
  }
  #container #demo {
    font-size: 52px;
  }
  #container #demo .bar .label {
    font-size: 22px;
  }
  #container #contact_card form input[type=text] {
    width: 250px;
  }
}

@media only screen and (max-width: 600px) {
  #container {
    width: 100vw;
    overflow: hidden;
  }
  #container .foreground {
    display: none;
  }
  #container .emblem {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
    width: 350.01px;
    height: 403.99px;
  }
  #container .emblem svg {
    height: inherit;
    width: inherit;
  }
  #container #demo {
    font-size: 32px;
  }
  #container #demo .bar .label {
    font-size: 12px;
  }
  #container #contact_card form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #container #contact_card form input[type=text] {
    text-align: center;
    width: 350px;
    margin-bottom: 10px;
  }
}
/*# sourceMappingURL=homepage.css.map */